/*
.page-header{
	.header;
	height: 54px;
	.bg(@accent);
	color:#fff;
	.rel;
	.overflow();
	border-bottom: 1px solid rgba(0,0,0,0.1);
	z-index: 1;
	.flex-shrink(0);
	&>*{
		.flex-equal();
	}
	.titles{
		.flex(@align:center);	
	}
	.icon{
		.bg(rgba(255,255,255,0.95));
		.rounded(100%);
		height:30px;
		width:30px;
		margin:17px 12px 17px 10px;
		color:@accent;
		font-size: 1.1em;
	}
	.text{
		.title{
			font-size: @titleFont+0.3em;
		}
		.subtitle{
			margin-top: 2px;
			font-size: @subtitleFont;
			color:@xlaccent;
		}
	}
	.controls{
		div, button{
			.text-bold;
			color:#fff;
			font-size: 1.1em;
			padding:0 15px;
			i ~ span{
				padding-left:15px;
			}		
			span ~ i{
				padding-left:15px;
			}
		}
	}

	.progress{
		ul.pages{
			.rel;
			.flex(row;@align:center;@wrap:nowrap);
			.circle{
				.rel;

				margin:10px;
				.flex(row;@align:center;@wrap:nowrap);
				width:30px;
				height:30px;
				.bg(@xlaccent);
				color:@daccent;
				.rounded(100%);
				.transition(@speed:@aniNormal);	
				.text-bold;
				&.active{
					.bg(#fff) !important;
					color:@accent !important;
				} 
				& + ul{
					.flex(row;@align:center;@wrap:nowrap);
				}
				&.small{
					font-size: 0.8em;
					.bg(@xlaccent);
					color:@daccent;
					width:20px;
					height:20px;
					margin:5px;
					.opacity(1);
				}
			}
			.ng-enter{
				ul > li > .circle.small{
					display: none;
				}
			}
			.min ul > li > .circle.small{
				width:0;
				height:0px;
				margin:0px;
				.opacity(0);
			}
			& > li{
				.flex(row;@align:center;@wrap:nowrap);
				& > div{
					.flex(row;@align:center);
				}
			}
			&:before{
				z-index: 0;
				.abs(@t:50%;@b:auto;@h:2px;@w:auto;);
				margin:0 10px;
				.block;
				content:' ';
				.bg(@laccent);
			}
		}



		& *{
			box-sizing: border-box;
			.cursor(default);
		} 
		width:100%;
		height: 100%;
		.flex(column;@align:center);
	}
}*/