ui-filters,[ui-filters]{
	.block;
	@media @desktop{
	.flex(@align:center;@justify:flex-start;@wrap:wrap);
	}
	@media @mobile{
	.flex(column;@align:stretch;@justify:flex-start;@wrap:wrap);
	}
	margin:10px;
	min-height: 44px;
	&+*{
		margin-top:10px !important;
	}
	ui-filter,[ui-filter]{
		.block;
		.bg(#fff);
		.shadow();
		.flex(row;@align:stretch;@justify:flex-start);

		@media @mobile{
			.flex(row;@align:center;@justify:flex-start;@wrap:wrap);
		}
		.rounded();
		height:24px;
		margin:5px 0;
		.overflow();
		div{
			padding:0 2px 0 10px;
			.flex-grow(1);
			line-height: 24px;
			color:@dgray;
			.cursor();
			.text-nowrap;
		}
		label{
			margin-right: 10px;
		}
		[ui-filter-remove-btn]{
			.flex-grow(0);
			color:@mdgray;
			margin-left: 2px;
		}
		@media @mobile{
			.flex-grow(1);
		}
		@media @desktop{
			&+*{
				margin-left: 10px;
			}
		}
	}
}