

.form timeline{


/*	.timeline-event:last-child{
		margin-bottom: 0;
		}*/
		.timeline:before {
			top: 0;
			bottom: 0;
			position: absolute;
			content: " ";
			width: 2px;
			background-color: @xlgray;
			left: 50%;
			margin-left: -1px; 
		}
		timeline-panel {
			border:none;
			box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.1);
			min-height: 75px;
			padding:0;
			.rounded(0);
		}

		timeline-badge{
			top:23px;
			.flex(@align:center);
			box-sizing: border-box;
			.focusShadow();
		}

		timeline-panel:before {
			top: 33px;
		}

		timeline-panel:after {
			position: absolute;
			top: 34px;
		}
	}

	timeline.horizontal{
		display: block;
		.flex-grow(1);
		height: 44px;
		margin:10px;
		timeline-panel:before {
			.hide;
		}

		timeline-panel:after {
			.hide;
		}
		timeline-progress{
			display: block;
			content:' ';
			.abs();
			.bg(@green);
			margin-top: -1px;
			height:2px;
			width:0;
			top:50%;
			left:0;
			margin-left:0;
		}
		ul.timeline{
			&:before{
				margin-top: -1px;
				height:2px;
				width:100%;
				top:50%;
				left:0;
				margin-left:0;
			}
			.w100;
			.h100;
			.flex(@justify:space-between;@align:center);	
			timeline-event{
				&.minor{
					margin-left: 17px;
					.timeline-event{
						timeline-badge{
							box-shadow: 0 2px 1px rgba(0,0,0,.15);
							width: 12px;
							height: 12px;
							font-size: 0px;
							&:hover{
								.transform(scale(1.5));
							}
						}
					}
				}
				margin:0;
				.timeline-event{
					.rounded(100%);
					.cursor(pointer);
					.flex(@align:center);
					margin:0;
					timeline-badge{
						z-index: 1;
						.flex(@align:center);
						position: static;
						margin:0;
						width:34px;
						height:34px;
						box-shadow: none;
						box-sizing: border-box;
						font-size: 16px;
						padding:0;
						box-shadow: 0 2px 1px rgba(0,0,0,.15);
						.timeline-badge{
							position: relative;
						}
						.transition(@speed:@aniVeryFast);
						&:hover{
							.transform(scale(1.3));
						}
					}
					timeline-panel{
						.focusShadow();
						padding:0;
						z-index: 1000;
						.bg(white);
						.abs(@w:400px;@h:auto;@b:auto;@t:40px;);
						.pointerEvents();
						margin-left:-200px;
						.transition();
						&.ng-enter{
							.animation(@speed:@aniVeryFast;@name:fade-in);
						}
						&.ng-leave{
							.opacity(0) !important;
						}
						&.ng-leave-active{
							.animation(@speed:@aniVeryFast;@name:fade-out);
						}
					}
				}

			}
		}
	}

	timeline.no-track{
		ul.timeline{
			&:before{
				.hide;
			}
		}
	}

	timeline.time-scale{
		ul.timeline{
			timeline-event{
				&:last-child{
					right:0;
					left:auto !important;
				}
			}
		}
	}