[ui-max-height=""]{
	visibility: hidden !important;
	max-height: none !important;
}
[ui-max-height-cloak]{
	visibility: hidden !important;
}
[ui-max-height]{
	.transition();
	overflow-y : auto;
	&.min:not([ui-max-height=""]){
		max-height: 0 !important;
	}
}