.dock-management-container{
   .rel;
   width:100%;
   max-width: @maxWidth;
   bottom:0;
   top:@navBarHeight;
   position: fixed;
   margin: 0 auto;
}
.dock-management{
   direction:rtl;
   .overflow();
   .flex-grow(1);
   .flex(column;@align:stretch;@justify:flex-start);
   .h100;
   .overlay{
    .abs();
    z-index: 11;
    .bg(rgba(255,255,255,0.85));
    .cursor();
}
.current-time{
    position: absolute;
    top:-100px;
    left:1px;
    right:0;
    height:2px;
    .bg(@red);
    box-shadow:0 1px 1px rgba(0,0,0,0.15);
    .pointerEvents();
}
.ui-scroll-table{
    direction:ltr;
    .ui-scroll-table-corner{
        color:@mdgray;
        border-bottom:1px solid #dfdddb;
        corner{
            .wh100;
            .flex(@align:center);
        }
    }
    .ui-scroll-table-content {
        content{
            .flex-grow(1);
        }
    }

    .ui-scroll-table-left-header{
        max-width: 100px;
    }

    .ui-scroll-table-content content:after{
        .flex-shrink(0);
        display: block;
        content:' ';
        height:84px;
        width:100%;
    }

    .ui-scroll-table-left-header left-header:after{
        .flex-shrink(0);
        display: block;
        content:' ';
        height:84px;
        width:100%;
    }

}
.time-header{
    border-right:1px solid rgba(0,0,0,0.1);
    .flex(@align:center);
    .flex-shrink(0);
    .flex-grow(1);
    height:22px;
    width:100%;
    color:@mdgray;
    font-size: 0.9em;
    font-weight: 500;
    .overflow();
    .cursor();
    &:not(:first-child){
        border-top:1px solid rgba(0,0,0,0.1);
    }
    &.quarter{
        border-top:1px solid transparent;
        box-shadow: none;
        font-size: 0.8em;
        color:@mlgray;
            //box-shadow: 0 -1px 0 rgba(0,0,0,0.15);
        }
    }
    &.hourly{
        .time-header:not(.quarter){
            //font-size: 1em;
            //color:@mgray;
            min-height:22px;
            &.quarter{
                color:transparent !important;
            }
        }
        .quarter{
            height: 0 !important;
            margin-bottom: 0 !important;
            border:none !important;
            .flex-grow(0);
        }
        .cell:not(.quarter){
            .overflow();
            min-height:22px;
        }
        .event .title{
            margin: 0 !important;
            line-height: 14px !important;
            font-size: 12px;
        }
        .event .details{
            padding:2px 5px;
            font-size: 10px;
        }
    }
    .dock-header{
        .flex(@align:center);
        border-right: 1px solid rgba(0,0,0,0.05);
        height: 100%;
        min-width: 136px;
        color:@mgray;
        font-size: 1em;
        .text-bold;
        .flex-grow(1);
        .flex-basis(0);
        &.busy{
            .bg(red);
        }
        border-bottom:1px solid #dfdddb;
    }
    .docks{
    .bg(#fff);
     &:before{
        .abs();
        .block;
        content:'';
        box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
        pointer-events: none;
    }
    .rel;
    .flex-grow(1);
    .flex();
    .dock{
        .flex(column;@align:stretch;@justify:flex-start);
        .flex-grow(1);
        .flex-basis(0);
        .rel;
    }
}
.cell{
    min-width: 136px;
    .flex-shrink(0);
    .flex-grow(1);
    height:22px;
    &:not(:first-child){
        border-top:1px solid #dfdddb;
    }
    border-right:1px solid #ebeae9;
    &:hover{
        .rel;
        &:after{
            .abs();
            content:'';
            .block;
            .bg(rgba(0,0,0,0.05));
        }  
    }
    &.quarter{
        border-top:1px solid #f1f1f1;
    }
    &.dragOver{
        .rel;
        &:after{
            .abs();
            content:'';
            .block;
            .bg(rgba(0,0,0,0.05));
        }   
    }
}
.event {
    z-index: 1;
    .overflow();
    .cursor();
    box-shadow:0 2px 3px rgba(0,0,0,0.15);
    position: absolute;
    left: 0px;
    .flex(column;@align:stretch;@justify:flex-start);
    right: 1px;
    .rounded();
    color: #fff;
    font-size: 12px;
    .title {
        margin: 0 !important;
        line-height: 20px;
        border: none;
        outline:none;
        .text-bold;
        color:#fff;
        .w100;
        .text-center;
        .bg(rgba(0,0,0,0.15));
    }
    .details {
        .lightScrollbar();
        resize:none;
        margin:0;
        border: none;
        width:100%;
        outline:none;
        font-weight: 500;
        color:#fff;
        padding:5px;
        white-space: pre-line;
        .flex-grow(1);
        .flex-shrink(1);
        font-family: @fontName;
        font-size:12px;
        .bg(transparent);
    }
    .details-textarea{
        .hide;
    }
    .details-div{
        display:flex;
        text-overflow:ellipsis;
    }
    &.editable{
        z-index: 12;
        .details-textarea{
            .show;
        }
        .details-div{
            .hide;
        }
    }
    &:not(.editable):hover {
        [ui-color] {
            .show;
        }
    }
    [ui-color] {
        .hide;
        position: absolute;
        bottom: 2px;
        left: 1px;
        height: 14px;
        width: 14px;
        padding: 0;
        margin: 0;
        font-size: 1px;
        .bg(transparent);
        &:hover{
            .transform(none) !important;
            &:after{
                color:rgba(255,255,255,0.75);
            }
        }
        &:after{
            .block;
            .wh100;
            .icon-font;
            .rounded(100%);
            content:'\f043';
            font-size: 16px;
            color:rgba(255,255,255,0.5);
        }
    }
}
}

.removeCell {
    width: 250px;
    height: 50px;
    background-color: lightcoral;
}

[event-resize]{
    [event-resize-handle]{
        .hide;
        position: absolute;
        font-size: 1px;
        z-index: 5;
        cursor: se-resize;
        width: 0;
        height: 0;
        right: 1px;
        bottom: 1px;
        border-style: solid;
        border-width: 0 0 12px 12px;
        border-color: transparent;
        box-sizing: content-box;
        border-bottom-color: #fff;
        .opacity(0.5);
    }
    &:hover [event-resize-handle]{
        .show;
        &:hover{
            .opacity(1);
        }
    }
}