@charset "UTF-8";

@font-face {
  font-family: "ryder";
  src:url("fonts/ryder.eot");
  src:url("fonts/ryder.eot?#iefix") format("embedded-opentype"),
    url("fonts/ryder.woff") format("woff"),
    url("fonts/ryder.ttf") format("truetype"),
    url("fonts/ryder.svg#ryder") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ryder" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ic-"]:before,
[class*=" ic-"]:before {
  font-family: "ryder" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-fireball:before {
  content: "\61";
}
.ic-measure:before {
  content: "\62";
}
.ic-nuclear:before {
  content: "\63";
}
.ic-dot-3:before {
  content: "\64";
}
.ic-ying-yang:before {
  content: "\65";
}
.ic-paint-bucket:before {
  content: "\66";
}
.ic-split:before {
  content: "\67";
}
.ic-issue-reopened:before {
  content: "\68";
}
