.ui-sidebar-nav{
	display: block;
	nav.sidebar-nav{
		@media @tablet{
			.ui-sidebar-btn{
				.hide !important;
			}
		}
		position: fixed;
		width:64px;
		top:115px;
		bottom:0;
		.flex-grow(0);
		.flex-shrink(0);
		border-right:1px solid rgba(0,0,0,0.05);
		.flex(column;@align:center;@justify:flex-start);
		a:not(.ui-sidebar-btn){
			.rel;
			.ui-button();
			.flex(column;@align:center;@justify:center);
			.flex-grow(0);
			.flex-shrink(0);
			width:64px;
			height:64px;
			padding:0;
			text-decoration: none;
			color:@mdgray;
			&.active{
				box-shadow: 2px 0 0 @accent inset;
				color:#000;
				&:after{
					.hide !important;
				}
			}
			&:hover{
				color:@dgray;
			}
			i{
				font-size: 1.5em;
			}
			span{
				//.hide !important;
				margin-top:10px;
				color:#000;
				width:100%;
				font-size: 0.7em;
				padding:2px !important;
				.flex(@align:center;@wrap:wrap);
			}
			b{
				.abs(@t:6px;@r:6px;@w:auto;@h:none;@l:auto;@b:auto) !important;
				font-size: 10px;
				line-height: 18px;
				height: 18px;
				padding:0 5px;
			}
		}
	}
	.ui-sidebar-nav-content{
		.flex(column;@align:stretch);
		margin-left: 64px;
		.flex-grow(1);
	}
	@media @tablet{
		&{
			nav.sidebar-nav{
				z-index: 998;
				.transition(@speed:@aniFast);
				.transform(translateX(-314px));
			}
			.ui-sidebar-nav-content{
				.transition(@speed:@aniFast);
				margin-left: 0 !important;
			}
			.ui-sidebar-panel-container{
				width:100% !important;
			}
			.ui-sidebar-panel{
				border-right: none !important;
				max-width: ~"calc(100% - 64px)";
				.transform(translateX(-100%)) !important;
			}
			.ui-sidebar-content{
				margin-left: 0 !important;
				//.transform(translateX(0));
			}
			&.show-sidebar{
				ui-page-actions{
					.hide !important;
				}
				nav.sidebar-nav{
					.transition(@speed:@aniFast);
					.transform(translateX(0));
				}
				.ui-sidebar-panel{
					.transform(translateX(64px)) !important;
				}
				.ui-sidebar-content{
					.transform(translateX(100%));
				}
			}
			&.show-sidebar.tabs-only{
				.ui-sidebar-nav-content{
					.transform(translateX(64px)) !important;
				}
			}
		}
	}
}

.ui-sidebar{
	.flex(row;@align:flex-start;@justify:flex-start);
	.ui-sidebar-panel-container{
		position: fixed;
		top:@navBarHeight;
		bottom:0;
		width:250px;
		.flex(column;@align:stretch);
		.flex-shrink(0);
		.flex-grow(0);
		.overflow();
	}
	.ui-sidebar-panel{
		width: 250px;
		height: 100%;
		max-height: 100%;
		.transition(@speed:@aniFast);
		.transform(translateX(-100%));
		.flex-shrink(0);
		.flex-grow(1);
		border-right:1px solid rgba(0,0,0,0.05);
		.overflow-y();
		& > .content{
			min-height: 100%;
		}
	}
	.ui-sidebar-content{
		.transition(@speed:@aniFast);
		max-width: 100%;
		margin-left:0;
		.flex-grow(1);
	}
	&.show-sidebar{
		.ui-sidebar-panel{
			.transform(translateX(0));
		}
		.ui-sidebar-content{
			margin-left:250px;
		}
	}
}

.ui-sidebar-btn{
	display: block !important;
	width:64px;
	height:64px;
	.ui-button();
	padding:0 !important;
	span{
		display: block !important;
		position: relative;
		width:100%;
		height:50%;
		.overflow();
		&:after{
			position: absolute;
			display: block;
			content:" ";
			width:3px;
			left:0;
			height:14px;
			.bg(@mdgray);
			border-radius: 1px;
			.transition(@speed:@aniFast);
		}
		&:nth-child(1){
			&:after{
				bottom:-1px;
				transform-origin:bottom center;
				.transform(translate3d(36px,0,0) rotateZ(-45deg));
			}
		}
		&:nth-child(2){
			&:after{
				top:-1px;
				transform-origin:top center;
				.transform(translate3d(36px,0,0) rotateZ(45deg));
			}
		}
	}
	&.show-sidebar{
		span{
			&:after{
				.transform(translateX(0));
			}
			&:nth-child(1):after{
				.transform(translate3d(24px,0,0) rotateZ(45deg));
			}
			&:nth-child(2):after{
				.transform(translate3d(24px,0,0) rotateZ(-45deg));
			}
		}
	}
}