

.ship-status {
    width: 100%;
    padding: 20px;
    padding-bottom: 5px;

    .flex-grow(1);
    .flex(@align: center;
        @justify: space-around);
    .icon {
        font-size: 1.4em;
    }
    .icon-big {
        font-size: 1.4em;
        color: #fff;

        .rounded(100%);
        .bg(@xxlgray);
    }
    .line {
        width: 100%;
        height: 2px;

        .flex-grow(1);
    }
}


.ship-status-text {
    font-size: 1.2em;
    width: 100%;
    margin-top: -10px;

    .text-center;
    .flex();
    span {
        width: 120px;
        padding: 2px 10px;
        color: #fff;

        .block;
        .rounded(10px);
    }
}

.ship-badge{
    height:44px;
    .flex();
    span{
        .flex(@align:center);
        width:100px;
        height:22px;
        .rounded(11px);
        color:#fff;
    }
}

.ship-mode{
    height:34px;
    color:@mdgray;
    .flex();
}

.timeline-map-half{
    width:100%;
    height:100%;
    padding:5px;
    .lightScrollbar();
}

.journey-map{
    position: absolute;
    left:0;
    bottom:0;
    width:50%;
    top:0;
    background-image:url('../img/map_sample.jpg');
    box-shadow:0 5px 5px -5px rgba(0,0,0,0.15) inset;
    @media @tablet{
        .hide;
    }
}