.form ui-field, .form [ui-field]{
	margin:5px;
}

.form .text{
	margin:10px;
	color:@dgray;
	.cursor(default);
}

.form textarea.disclaimer{
	margin:10px;
	padding:10px;
	.bg(#f6f6f6);
	border:1px solid rgba(0,0,0,0.05);
	.rounded;
	height:200px;
	font-size: 11px;
	.overflow-y();
	white-space: pre-line;
	resize:none;
	box-sizing: border-box;
	width:auto;
}

.ui-subform{
	.bg(#f6f6f6);
	.ui-subform-top-divider{
		.zzTop(#fff);
	}	
	.ui-subform-bottom-divider{
		.zzBottom(#fff);
	}
}

.subform{
	//.bg(#f8f8f8);
	.rel;
	ui-section{
		margin:15px !important;
	}
	ui-header[theme=section], [ui-header][theme=section]{
		//.bg(rgba(0,0,0,0.025));
	}
}

///////////////////////////////////////////////////
// Condensed Form
//


.inputCondensedStyle(){
	.text-trim;
	border-bottom: none;
	color:#333;
	min-height:22px;
}

.form-condensed{
	ui-field,[ui-field]{
		&[required] label{
			&:before{
				display: none;
			}
		}
		.uiFieldText{
			margin:0;
			.inputCondensedStyle();
			border:none;
			//padding:0;
			.placeholder();

		}
		ui-field-date,[ui-field-date]{
			input{
				.inputCondensedStyle();
			}
		}
		ui-field-checkbox-title,[ui-field-checkbox-title]{
			//padding:0px 0px !important;
		}
	}
	.uiFieldCheckbox{
		ui-field-checkbox-controls,[ui-field-checkbox-controls]{
			.inputCondensedStyle();
		}
		ui-field-checkbox-toggle,[ui-field-checkbox-toggle]{
			.transform(scale(0.75));
		}
	}
	ui-field,[ui-field]{
		.selectize-input{
			height: 22px;
			.inputCondensedStyle();
			&.disabled{
				padding-top:0 !important;
				input{
					display: block !important;
				}
			}
		}
	}
}
///////////////////////////////////////////////////
// Very Condensed Form
//


.inputVeryCondensedStyle(){
	.text-trim;
	border-bottom: none;
	color:#333;
	min-height:18px;
	padding: 0 5px;
}

.form-very-condensed{
	ui-field,[ui-field]{
		&[required] label{
			&:before{
				display: none;
			}
		}
		.uiFieldText{
			margin:0;
			.inputVeryCondensedStyle();
			.placeholder();

		}
		ui-field-date,[ui-field-date]{
			input{
				.inputVeryCondensedStyle();
			}
		}
		ui-field-checkbox-title,[ui-field-checkbox-title]{
			//padding:0px 0px !important;
		}
	}
	.uiFieldCheckbox{
		ui-field-checkbox-controls,[ui-field-checkbox-controls]{
			.inputVeryCondensedStyle();
		}
		ui-field-checkbox-toggle,[ui-field-checkbox-toggle]{
			.transform(scale(0.75));
		}
	}
	ui-field,[ui-field]{
		.selectize-input{
			height: 18px;
			.inputVeryCondensedStyle();
			&.disabled{
				padding-top:0 !important;
				input{
					display: block !important;
				}
			}
		}
	}
}

.address-form{
	margin: 0 5px 10px 5px;
	input{
		color:@mgray;
		-webkit-text-fill-color:@mgray !important;
	}
	ui-field{
		margin:0;
		&:first-child{
			margin-top:5px;
		}
	}
	.address-lookup{
		margin-bottom: 0;
	}
	barcode{
		.overflow();
		.h100;
		.flex-grow(0);
		.flex(@align:center;@justify:flex-end);
	}
	barcode img{
		max-height: 55px;
		max-width:100%;
	}
}

.address-form-id{
	.abs(@r:10px;@t:auto;@w:auto;@h:auto;@b:10px;);
	.flex(@align:flex-end;@justify:flex-end);
	font-size: 1.8em;
	color:@lgray;
	.cursor();
}


.badges{
	margin-top:20px;
	min-height:34px;
	width:100%;
	.flex(row;@wrap:wrap;@justify:flex-start;@align:center);	
	&:only-child{
		margin-top:10px;
	}
	.badge{
		box-sizing: border-box;
		font-weight: 500;
		font-size: 0.8em;
		z-index: 1;
		height: 30px;
		line-height: 16px;
		padding:7px;
		color:#444;
		.text-nowrap;
		.flex(@align:center);
		.rel;
		.rounded(16px);
		margin:5px;
		.bg(#e0e0e0);
		.cursor(default);
		span{
			padding:0 10px;
		}
		i{
			color:#444;
			font-weight: bold;
			.text-center;
			.overflow();
			font-style:normal;
			font-size:10px;
			min-width:20px;
			height:20px;
			line-height: 20px;
		}
		i.inset{
			padding:0 10px;
			.bg(#f0f0f0);
			.rounded(10px);
		}
		i.fa{
			color:@lgray;
			font-size: 14px;
			&:hover{
				.cursor(pointer);
				color:@accent;
			}
		}
		i+i{
			margin-left: 5px;
		}
	}
}
