button{
	.bg(transparent);
	text-align:center;
}

[ui-button], .ui-button{
	.ui-button();
}

.buttonHover(){
	.transition(@prop:opacity,@speed:@aniFast);
	&[disabled="disabled"]{
		.opacity(0.25);
		.cursor(default);
	}
	&:not([disabled="disabled"]){
		&:hover, &.active, &:active{
			&:after{
				.abs();
				width:100%;
				height:100%;
				display:block;
				content:'';
				z-index: 0;
			}
			&>*{
				z-index: 1;
			}
		}
		.cursor(pointer) !important;

		@media @desktop{
			&:hover:after{
				.bg(rgba(0,0,0,0.035));
			}
		}
		&:active:after{
			.bg(rgba(0,0,0,0.05));
		}
	}	
}

.ui-button(){
	&[ng-click]{
		.cursor(pointer);
	}

	-webkit-appearance:none;
	.rel;
	*{
		user-select:none;
	}
	&[disabled=disabled]{
		.pointerEvents;
	}
	.flex(@align:center);
	margin:0;
	.text-center;
	border:none;
	outline:none;
	padding:5px 10px;
	font-size: 1em;
	.buttonHover();
	i{
		.text-center;
	}
	i ~ span, span ~ i{
		padding-left:10px;
	}
	&.bg-accent,&.bg-gray{
		color:#fff;
	}
	* > b{
		.abs(@t:3px;@r:2px;@l:auto;@b:auto;@h:none;@w:none);
	}
}


b{
	box-sizing: content-box !important;
	.rel;
	.flex(@align:center);
	.rounded(12px);
	min-width: 8px;
	border:none;
	height: 12px;
	.bg(@red);
	padding:2px 4px;
	font-size: 0.6em;
	color:#fff;
	overflow:visible;
	&:after{
		box-sizing: border-box;
		content:'';
		.block;
		border-radius: 100%;
		.abs();
		border:2px solid @red;
		.transform(scale(2));
		.opacity(0);
	}
	&.highlight:after{
		.animation(@func:@aniFuncOut;@speed:@aniSlow;@name:highlight;@dir:forwards);

	}
	&.small{
		.abs(@t:6px;@r:4px;@l:auto;@b:auto;@h:none;@w:none);
		.transform(scale(0.85));
	}
}







