@mobile: ~"screen and (max-width:667px)";
@tablet: ~"screen and (max-width: 1023px)";
@desktop: ~"screen and (min-width: 1024px)";
@extended: ~"screen and (min-width: 1300px)";
@max: ~"screen and (min-width: 1920px)";
@print: ~"print";

.media-mobile-show,
.media-tablet-show,
.media-tablet-show-flex,
.media-desktop-show,
.media-print-show{
	.hide !important;
}

@media @mobile{
	.media-mobile-hide{
		.hide !important;
	}
	.media-mobile-show{
		.show !important;
	}
}

@media @tablet{
	.media-tablet-hide{
		.hide !important;
	}
	.media-tablet-show{
		.show !important;
	}
	.media-tablet-show-flex{
		display:flex !important;
	}
}

@media @desktop{
	.media-desktop-hide{
		.hide !important;
	}
	.media-desktop-show{
		.show !important;
	}
}

@media @print{
	.media-print-hide{
		.hide;
	}
	.media-print-show{
		.show !important;
	}
}