.main-header{
	.w100;
}

ui-header[theme=main-header], [ui-header][theme=main-header]{
	.bg(#fff);
	color:@accent;
	height: 40px;
	.branding{
		.block;
		img{
			margin:5px;
			height: 30px;
		}
	}
	ui-header-controls{
		& > *{
			min-width: 44px;
		}
		i{
			color:@accent;
		}
		.submenu [ui-button]{
			i{color:@accent;}
			span{color:#555;}
		}
	}
}