ui-menu-group{
	.flex(column;@align:stretch) !important;
	padding:0 !important;
	//.flex-grow(1);
	width:100%;
	ui-menu-group-header{
		.flex-grow(1);
		.flex(@align:center;@justify:flex-start);
		padding:2px 10px;
		height:34px;
		.uppercase;
		font-size: 0.8em;
		.bg(rgba(255,255,255,0.1));
		color:#fff;
	}
	ui-menu-content{
		.overflow();
		.transition(@speed:@aniFast);
		.block;
		//box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset;
	}
	&[no-overflow]{
		ui-menu-content{
			overflow:visible !important;
		}
	}
	[ui-menu-collapse-indicator]{
		.rel;
		.flex-shrink(0);
		width: 34px;
		height:34px;
		font-size: 12px;
		&:before{
			font-weight: normal;
			.block;
			box-sizing: border-box;
			content:'\f077';
			.flex(@align:center);
			.icon-font;
			.abs();
		}
	}
	[ui-menu-active-indicator]{
		.rel;
		.flex-shrink(0);
		width: 34px;
		height:34px;
		font-size: 12px;
		&:before{
			.block;
			box-sizing: border-box;
			content:'\f054';
			.flex(@align:center);
			.icon-font;
			.abs();
		}
	}
	&[collapsed]{
		[ui-menu-collapse-indicator]:before{
			content:'\f078';
		}
		ui-menu-content:not([ui-max-height=""]){
			.opacity(0);
			max-height: 0 !important;
		}
		ui-header[theme=ui-menu-header]{
			.bg(rgba(0,0,0,0.025));
			color:@mdgray;
		}
	}
}

ui-header[theme=ui-menu-header]{
	.cursor(default);
	.bg(rgba(0,0,0,0.05));
	color:@dgray;
	height:34px;
	font-size: 0.85em;
	text-transform: uppercase;
	font-weight: 500;
	box-shadow: 0 -1px 0 rgba(0,0,0,0.05) inset;
	.transition(color;@speed:@aniFast);
	&.active{
		padding-right: 34px;
		&:after{
			margin-top:1px;
			.flex(@align:center);
			content:'\f054';
			font-size: 12px;
			.icon-font;
			box-sizing: border-box !important;
			.abs(@l:auto;@w:34px;);
			.bg(transparent) !important;
		}
	}
}

ui-header[theme=ui-menu-group-subheader]{
	.cursor(default);
	height:2.2em;
	.text-bold;
	color:#777;
	font-size: 0.8em;
	.uppercase;
	.bg(transparent);
	&+.overflow-y{
		border-top:1px solid rgba(0,0,0,0.1);
	}
	.flex(@align:stretch;@justify:flex-start);
	[ui-button]{
		width:34px !important;
		color:#ccc;
	}
}


ui-menu-item{
	.buttonHover();
	height: 34px;
	color:@mdgray;
	.flex(row;@align:center;@justify:space-between);
	.rel;
	.w100;
	padding: 0 44px 0 10px;
	.icon{
		margin:0;
		padding:0;
		.flex(@align:center);
		.text-center;
		width:14px;
		margin-right: 10px;
	}
	&[disabled]{
		pointer-events: none;
	}
	span{
		.flex(row;@align:center;@justify:space-between);
		.text-trim;
	}
	&.active{
		color:#000;
		.bg(rgba(0,0,0,0.025));
		.bg(@accent);
		color:#fff;
		&:before{
			color:#fff;
			.abs(@r:0;@w:34px;@h:100%;@l:auto;);
			.flex(@align:center);
			content: '\f054';
			.icon-font;
		}
	}
}




















