ui-section-container,[ui-section-container]{
	.flex-grow(1);
}

ui-section,[ui-section]{
	clear: both;
	color:@dgray;
	.rounded();
	.flex-shrink(0);
	backface-visibility:hidden;
	.flex(column;@align:stretch;@justify:flex-start);
	.rel;
	&:not(.no-margin){
		margin:10px;
	}
	&.selected{
		box-shadow: 0 0 0 2px @accent;
	}
	.bg(#fff);
	.shadow();
	ui-section-divider,[ui-section-divider]{
		.block;
		height:1px;
		.bg(rgba(0,0,0,0.05));
	}
	ui-section-overlay{
		.abs();
	}
}


.cols > ui-section,.cols > [ui-section]{
	margin-bottom: 0;
}

@media @desktop{
	.cols > ui-section,.cols > [ui-section]{
		&:not(:first-child):not(:only-child){
			margin-left:0;
		}
	}
}


ui-header[theme=section], [ui-header][theme=section]{
	&:not(.no-border){
		border-bottom:1px solid rgba(0,0,0,0.05);
	}
	background-color: transparent;
	width:100%;
	color:#000;
	height: 50px;
	ui-header-body, [ui-header-body]{
		font-size: 1.29em;
		.subtitle{
			font-size:0.7em;
			font-weight: 500;
			.uppercase;
			margin-bottom: 0;
		}
	}
	ui-header-controls{
		span, [ui-button]{
			min-width: 44px;
			color:@mdgray;
			.text-nowrap;
			.flex-shrink(0);
		}
		i{
			color:@accent;
			font-size: 14px;
		}
	}
	&+.subform{
		box-shadow: 0 -1px 0px  rgba(0,0,0,0.05) inset;
	}
}


ui-header[theme=subsection], [ui-header][theme=subsection]{
	.bg(rgba(0,0,0,0.05));
	height:40px;
	font-weight: 500;
	.uppercase;
	font-size: 1em;
	color:@mdgray;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	ui-header-body{
		& > *{
			i{
				min-width: 12px;
				.text-center;
			}
		}
	}
	ui-header-controls{
		span{
			color:@mdgray;
		}
		i{
			font-size: 14px !important;
			color:@accent;
		}
		[ui-button]{
			min-width: 40px;
			color:#555;
		}
	}

}