ui-tabs,[ui-tabs]{
	.flex(column;@align:stretch;@justify:flex-start);
	.flex-grow(1);
	width:100%;
	&.hidden{
		ui-tabs-controls,[ui-tabs-controls]{
			.hide !important;
		}
	}
	ui-tabs-controls,[ui-tabs-controls]{
		height:34px;
		@media @tablet{
			height: 44px;
		}
		.overflow-x();
		.flex(@align:stretch;@justify:flex-start);
		.flex-shrink(0);
		border-bottom:1px solid rgba(0,0,0,0.15);
		z-index: 1;
		[ui-button]{
			.text-bold;
			span{
				font-size: 0.85em;
			}
			.uppercase;
			color:@mdgray;
			.flex(@align:center);
			padding:0 20px !important;
			.transition();
			&.active{
				color:@accent;
				.bg(#fff);
				&:after{
					.hide !important;
				}
			}
		}
	}
	ui-tabs-body,[ui-tabs-body]{
		.block;
		.flex-grow(1);
		.overflow();
		.rel;
		.lightScrollbar();
		& > *{
			.abs();
			.transition(@prop:@aniPropTransform);
			.transform(translateX(0));
			.overflow();
			.flex(@align:flex-start;@justify:flex-start);
			&.ng-enter,&.ng-enter-prepare{
				.transform(translateX(-100%));
			}
			&.ng-enter-active{
				.transform(translateX(0));
			}
			&.ng-leave-active{
				.transform(translateX(100%));
			}
		}
	}
	&.aniLeft > ui-tabs-body > *, &.aniLeft > [ui-tabs-body] > *{
		&.ng-enter,&.ng-enter-prepare{
			.transform(translateX(100%));
		}
		&.ng-enter-active{
			.transform(translateX(0));
		}
		&.ng-leave-active{
			.transform(translateX(-100%));
		}
	}
}