/*.filter-bar{
	box-shadow:0 1px 0 rgba(0,0,0,0.15);
	.flex-shrink(0);
	.overflow();
	.bg(@xxlgray);
	.flex(@align:stretch;@justify:flex-start;@wrap:wrap);
	& > div{
		height:34px;
		.flex-shrink(0);
		.flex(@align:center);
		.text-normal;
		padding-left:10px;
		.bg(transparent);
		color:@dgray;
		& > span{
			font-size: 0.8em;
			.cursor(default);
		}
		& > i{
			color:@lgray;
			margin-left:5px;
			width:30px;
			height:30px;
			padding:0 !important;
			.flex(@align:center;@justify:center);
			.text-center;
			font-size:1em;
			.button-hover();
			&:hover{
				color:@mdgray;
			}
		}
		.filter-title{
			font-weight: 500;
			margin-right: 5px;
		}
		.filter-value{
			.text-nowrap;
			i{
				border-left:1px solid @mlgray;
				margin:0 5px;
			}
		}
	}
}*/