/*.section-content-overlay{
	.abs(@h:auto;@b:auto);
	z-index: 1;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	& > .bg{
		display:block;
		.abs();
		.bg(rgba(0,0,0,0.5));
	}
	& > div:not(.bg){
		box-shadow: 0 3px 10px rgba(0,0,0,0.15);
		.abs(@b:auto;@h:auto);
		.bg(#fff);
	}
}
*/
/*
.floating-panels{
	.overflow();
	.static-panel{
		z-index: 0;
		.overflow();
		.abs(@h:~"calc(100% - 44px)";@b:auto);
		.transition();
		&.mid{
			height:50% !important;
		}
		&.max{
			.abs(@h:100%;@b:auto);
		}
	}
	.floating-panel{
		.rel;
		.render();
		.abs(@t:auto;@w:auto);
		height:50%;
		.overflow();
		z-index: 1;
		box-shadow: 0 0 3px rgba(0,0,0,0.25),0 0 15px rgba(0,0,0,0.2);
		.transition();
		&.min{
			height: 44px !important;
		}
		&.max{
			height:~"calc(100% - 34px)"!important;
		}
		&.popup{
			height:~"calc(100% - 34px)"!important;
			&.hide{
				.transform(translateY(105%));	
			}
		}
	}
}


.floating-panel-overlay{
	.render();
	z-index: 0;
	.abs();
	.bg(rgba(0,0,0,0.65));
}

*/