@loaderSize:70px;
@loaderBorder:5px;

.loader-container{
  .render();
  .abs();
  .bg(rgba(0,0,0,0.125));
  .flex(@align:center);
  z-index: 1005;
  .transition(@speed:@aniFast);
  &.ng-hide {
    .opacity(0);
  }
}
.loader,
.loader:after {
  .rounded(100%);
  width: @loaderSize;
  height: @loaderSize;
}
.loader {
  margin: 0;
  font-size: 10px;
  position: relative;
  border: @loaderBorder solid rgba(255, 255, 255, 0.95);
  border-left: @loaderBorder solid @accent;
  //box-shadow: 0 0 40px rgba(0,0,0,0.1),0 0 40px rgba(0,0,0,0.1) inset;
  z-index: 1005;
  .animation(@name:loaderanimation;@speed:1s;@func:linear;@delay:0;@dir:normal;@iter:infinite)
}

@-webkit-keyframes loaderanimation {
  0% {
   .transform(rotateZ(0));
 }
 100% {
  .transform(rotateZ(360deg));
}
}
@keyframes loaderanimation {
  0% {
   .transform(rotateZ(0));
 }
 100% {
  .transform(rotateZ(360deg));
}
}
