ui-dashboard{
	.block;
	box-sizing: border-box;
	ui-section{
		height: 100%;
		margin:0 !important;
		ui-header-controls{
			.opacity(0);
			[ui-header-actions-btn]{
				color:@xlgray !important;
				&:hover{
					color:@accent !important;
				}
			}
		}
		&:hover{
			ui-header-controls{
				.opacity(1);
			}	
		}
	}
	nvd3{
		.flex(column);
		align-self:stretch;
		.w100;
		.flex-grow(1);
		.transition(@speed:@aniNormal);
		svg{
			align-self:stretch;
			.h100;
			.flex-grow(1);
		}
	}
}

ui-dashboard-panel{
	display:block;
	box-sizing: border-box;
}

ui-dashboard-panel-content{
	.rel;
	.flex(row;@align:stretch;@justify:center);
	.flex-grow(1);
	.w100;
	@media @tablet{
		&:after{
			.block;
			content:' ';
			padding-top:100%;
		}
	}
}

ui-dashboard-chart{
	.rel;
	.flex(row;@align:stretch;@justify:center);
	.flex-grow(1);
	.w100;
}

.dashboard-panel-preview{
	.flex(@align:center;@justify:center);
	.flex-grow(1);
	backface-visibility:hidden;
	.w100;
	@media @mobile{
		ui-section{
			width:100%;
		}
	}
	@media @desktop{
		ui-section{
			width:50%;
		}
	}
}

.gridster-loaded .gridster-preview-holder {
  display: block;
  z-index: 1;
  position: absolute;
  border:1px dashed rgba(0,0,0,0.25);
  background-color:rgba(255,255,255,0.5);
  .opacity(1);
  .transition();
}

@media @mobile {
	nvd3 *{
		.pointerEvents();
	}
}

nvd3{
	.w100;
}

.nvd3{
	shape-rendering: geometricPrecision;
}

.nvd3 .nv-legend-symbol{
	.transform(translateX(-5px));
}

.nvd3 text{
	font:normal 12px @fontName;
	fill:@mdgray;
}

.nvd3 .nv-axis path{
	stroke:transparent;
}

.nvd3 .tick line{
	stroke:@lgray;
	stroke-dasharray: 1 2; 
}

.nvd3 .tick.zero line{
	stroke:transparent;
}

.nvd3 .nv-axislabel[transform]{
	font:20px @fontName;
	fill:@lgray;
}

.nvd3.nv-noData{
	font-weight: normal;
	fill:@mgray;
}

.nvd3-donut-data{
	.abs();
	.flex(@align:center);
	.cursor();
	.title{
		.text-center;
		font-size: 2vw;
		font-weight: 300;
		@media @mobile{
			font-size: 8vw;
		}
		@media @max{
			font-size: 3em;
		}
	}
}

.tiles{
	.w100;
	.rel;
	.flex(row;@align:stretch;@wrap:wrap);
	.overflow();
	padding:2px;
	.tile{
		min-width:calc(50% - 4px);
		.flex-grow(1);
		.flex-shrink(1);
		.flex-basis(0);
		margin:2px;
		.flex(column;@align:center);
		.cursor(pointer);
		.opacity(0.85);
		.transition(@speed:@aniFast);
		&:hover{
			.opacity(1);
		}
		.overflow();
	}
	.tile .title{
		color:#fff;
		font-weight: 300;
		text-shadow: 0 0 1px white;
		font-size: 2vw;
		@media @max{
			font-size: 3em;
		}
		line-height: 4vw;
		min-width: 50%;
		text-align: center;
		@media @mobile{
			font-size: 8vw;
			line-height: 16vw;
		}
	}
	.tile .subtitle{
		color:#fff;
		line-height: 2.4vw;
		font-size: 1.2vw;
		@media @max{
			font-size: 1.6em;
		}
		@media @mobile{
			font-size: 4.8vw;
			line-height: 9.6vw;
		}
	}
}

.list-icon-circle{
	.flex-grow(0);
	font-size: 16px;
	width:34px;
	height:34px;
	.rounded(100%);
	.flex(@align:center);
	.overflow();
	.cursor();
}