ui-page-actions-container,[ui-page-actions-container]{
	position: fixed;
	direction: rtl;
	bottom:0;
	left:0;
	right:0;
	float:right;
	//max-width: @maxWidth;
	margin:0 auto;
	z-index: 100;
	pointer-events: none;
}

ui-page-actions-spacer,[ui-page-actions-spacer]{
	.block;
	height: 74px;
	.flex-shrink(0);
}

ui-page-actions,[ui-page-actions]{
	pointer-events: all;
	direction:ltr;
	.flex(@align:center;@justify:flex-end);
	z-index: 100;
	bottom:0px;
	margin:10px 15px;
	ui-page-action,[ui-page-action]{
		.rel;
		.flex-shrink(0);
		.flex-grow(0);
		min-width:54px;
		height:54px;
		.flex(row;@align:center);
		.rounded(26px);
		&:after{
			.rounded(26px);
		}
		color:#fff;
		&:not(:first-child){
			margin-left: 10px;
		}
		&:not(.bg-white){
			span{
				color:#fff;
			}
		}
		&.small{
			width:44px;
			height:44px;
			&:first-child{
				//margin-left: 5px;
			}
		}
		& > i, & > div > i{
			font-size: 22px;
			.block;
			height:28px;
			line-height: 28px;
			text-align: center;
		}
		label{
			font-weight: 500;
			padding:0;
			margin-top:0px;
			font-size: 12px;
			text-align: center;
		}
		& > span, & > div > span{
			padding:0 5px;
			color:@mdgray;
			font-size: 16px;
			white-space: nowrap;
		}
		span+i{
			margin-right: 5px;
		}
		span.small{
			font-size: 0.85em;
			font-weight: 500;
		}
		ui-field[type="date"]{
			z-index: 100;
			position: absolute;
			top:-200px;
			left:-110px;
			input,label,span{
				.hide;
			}
			[ui-date-picker-selector]{
				.rounded();
				.monthHeader{
					box-shadow: none;
				}
			}
			&.show-picker{
				[ui-date-picker-selector]{
					.show !important;
				}
			}
		}
	}

	.group{
		.flex(row;@align:center);
		.rounded(40px);
		padding:3px;
		.bg(#fff);
		.overlayShadow();
		margin-left:10px;
	}

	& > .text,& > div > .text{
		.bg(#fff);
		.cursor();
		box-shadow: none;
		font-size: 16px;
		min-width: 64px;
		.text-center;
		margin-left:10px;
		color:@mgray;
		font-weight: 500;
		padding-bottom: 1px;
	}
}