ui-alert-container, [ui-alert-container]{
	.flex(column;@align:stretch);
	.ui-alert{
		overflow:visible;
		.ui-alert-content{
			margin:5px 10px;
			&:first-child{
				margin-top: 10px;
			}
			&:last-child{
				margin-bottom: 0;
			}
			.flex(@align:stretch);
			.overflow();
			.rounded();
			.shadow();
			.ui-alert-body{
				padding:5px 5px;
				cursor: default;
				.flex(@align:center;@justify:flex-start);
				width:100%;
				color:#fff;
				min-height: 44px;
				i{
					font-size: 1.1em;
					width: 24px;
					text-align:center;
					margin-left: 3px;
					margin-right: 8px;
					.flex-shrink(0);
				}
				label{
					color:rgba(250,250,250,0.85);
					& + *{
						margin-top:5px;
					}
				}
				.text{
					.flex-grow(1);
				}
				.text:first-child{
					margin-left: 5px;
				}
			}
			.ui-alert-controls{
				.flex-grow(0);
				.flex-shrink(0);
				.flex(@align:stretch);
				color:#fff;
				&>*{
					min-width: 44px;
				}
			}
		}
	}
}