/*ui-info-container,[ui-info-container],.ui-info-container{
	.flex(@justify:flex-start;@wrap:wrap);
	margin-right: -10px;
}

ui-info,[ui-info],.ui-info{
	.rel;
	.flex-grow(1);
	&:not(:only-child){
		margin:0 10px 10px 0;
	}
	box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.1);
}

ui-info-popup,[ui-info-popup],.ui-info-popup{
	.focusShadow();
	position: absolute;
	width:400px;
	top:40px;
	left:0;
	height:auto;
	margin-left:-200px;
	.bg(#fff);
	z-index: 1000;
	.transition();
	&.ng-enter{
		.animation(@speed:@aniVeryFast;@name:fade-in);
	}
	&.ng-leave{
		.opacity(0);
	}
	&.ng-leave-active{
		.animation(@speed:@aniVeryFast;@name:fade-out);
	}
}

.*/

[ui-info-container]{

}

[ui-info-content]{
	z-index: 10000;
	.pointerEvents();
	backface-visibility:hidden;
	position: fixed;
	.rounded();
	padding:5px 10px;
	.bg(rgba(255,255,255,0.95));
	box-shadow: 0 10px 40px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.25);
	color:@dgray;
	.transition(@speed:@aniFast;);
	&.ng-hide{
		.opacity(0);
		.transform(scale(0));
	}
	&.ng-hide-remove{
		.transition(@speed:@aniFast;@prop:opacity);
	}
}

