@aniVeryFast: 100ms;
@aniFast: 250ms;
@aniNormal: 350ms;
@aniSlow: 1000ms;
@aniVerySlow: 5000ms;

@aniFuncInOut:cubic-bezier(0.645, 0.045, 0.355, 1.000);
@aniFuncOut:cubic-bezier(0.215, 0.610, 0.355, 1.000); 
@aniFuncIn:cubic-bezier(0.550, 0.055, 0.675, 0.190); 

@aniPropTransform:transform, -webkit-transform;

.render{
	backface-visibility:hidden;
	.transform(translateZ(0));
}

.transition(@prop:all;@speed:@aniNormal;@func:@aniFuncInOut;@delay:0){
	transition-timing-function: @func;
	transition-delay: @delay;
	transition-duration: @speed;
	transition-property: @prop;
}

.animation(@name:none;@speed:@aniNormal;@func:@aniFuncInOut;@delay:0;@dir:normal;@iter:1){
	animation-name: @name;
	animation-timing-function: @func;
	animation-delay: @delay;
	animation-duration: @speed;
	animation-direction: @dir;
	animation-iteration-count: @iter;
}

.transform(@transform) {
	transform:@transform;
}

.fade.ng-hide {
  .animation(@speed:@aniFast;@name:fade-out);
}

.fade.ng-hide-remove {
  .animation(@speed:@aniFast;@name:fade-in;@dir:forwards);
}

.fade-in-out.ng-enter{
  .animation(@speed:@aniFast;@name:fade-in;@dir:forwards);	
}

.fade-in-out.ng-leave{
  .animation(@speed:@aniFast;@name:fade-out;@dir:forwards);	
}


///////////////////////////////////////////////////
// Animation Frames
//

.fade-out-frames () {
  from {.opacity(1)}
  to {.opacity(0)}
}

@-webkit-keyframes fade-out {.fade-out-frames()}
@-moz-keyframes fade-out {.fade-out-frames()}
@-ms-keyframes fade-out {.fade-out-frames()}
@keyframes fade-out {.fade-out-frames()}

.fade-in-frames () {
  from {.opacity(0)}
  to {.opacity(1)}
}

@-webkit-keyframes fade-in {.fade-in-frames()}
@-moz-keyframes fade-in {.fade-in-frames()}
@-ms-keyframes fade-in {.fade-in-frames()}
@keyframes fade-in {.fade-in-frames()}

.highlight-frames () {
  from {.opacity(1);.transform(scale(1))}
  to {.opacity(0);.transform(scale(2))}
}

@-webkit-keyframes highlight {.highlight-frames()}
@-moz-keyframes highlight {.highlight-frames()}
@-ms-keyframes highlight {.highlight-frames()}
@keyframes highlight {.highlight-frames()}

.modal-show-frames () {
  0% {.transform(translateY(100%))}
  100% {.transform(translateY(0))}
}

@-webkit-keyframes modal-show {.modal-show-frames()}
@-moz-keyframes modal-show {.modal-show-frames()}
@-ms-keyframes modal-show {.modal-show-frames()}
@keyframes modal-show {.modal-show-frames()}

.modal-hide-frames () {
  0% {.transform(translateY(0))}
  100% {.transform(translateY(100%))}
}

@-webkit-keyframes modal-hide {.modal-hide-frames()}
@-moz-keyframes modal-hide {.modal-hide-frames()}
@-ms-keyframes modal-hide {.modal-hide-frames()}
@keyframes modal-hide {.modal-hide-frames()}
