
.zzTop(@zzColor:#fff) {
	position: relative;
	height: 10px;
	width: 100%;
	.transform(rotateX(180deg));
	&:after{
		background: linear-gradient(45deg, @zzColor 5.4px, rgba(0,0,0,0.05) 0, transparent 8px, transparent 0),
		            linear-gradient(-45deg, @zzColor 5.4px, rgba(0,0,0,0.05) 0, transparent 8px, transparent 0);
		background-repeat: repeat-x;
		background-size: 16px 16px;
		background-position: bottom left;
		content: " ";
		display: block;
		width: 100%;
		height: 100%;
	}
}
.zzBottom(@zzColor:#fff) {
	.zzTop(@zzColor);
	.transform(rotateX(0));
	&:after{
		background-position: bottom right;
	}
}

.bg(@color){
	background-color:@color;
}

.bg-image(){
	background-image:url('../img/truck-blur.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-accent{
	background-color:@accent;
}

.bg-white{
	background-color:#fff;
}

.bg-black{
	background-color:#000;
}

.bg-blue{
	background-color:@blue;
}

.bg-eBlue{
	background-color:@eBlue;
}

.bg-red{
	background-color:@red;
}

.bg-green{
	background-color:@green;
}

.bg-orange{
	background-color:@orange;
}

.bg-yellow{
	background-color:@yellow;
}

.bg-purple{
	background-color:@purple;
}

.bg-magenta{
	background-color:@magenta;
}

.bg-dgray{
	background-color:@dgray;
}

.bg-gray{
	background-color:@mgray;
}

.bg-lgray{
	background-color:rgba(210,210,210,0.99);
}


.border-accent{
	border-color:@accent;
}

.border-white{
	border-color:#fff;
}

.border-black{
	border-color:#000;
}

.border-blue{
	border-color:@blue;
}

.border-eBlue{
	border-color:@eBlue;
}

.border-red{
	border-color:@red;
}

.border-green{
	border-color:@green;
}

.border-orange{
	border-color:@orange;
}

.border-yellow{
	border-color:@yellow;
}

.border-purple{
	border-color:@purple;
}

.border-magenta{
	border-color:@magenta;
}

.border-dgray{
	border-color:@dgray;
}

.border-gray{
	border-color:@mgray;
}

.border-lgray{
	border-color:rgba(210,210,210,0.99);
}



.text-bold{
	font-weight: 500;
}

.text-pre{
	white-space: pre-line;
}

.bg-cover{
	background-size: cover;
	background-position: center center;
	background-repeat:no-repeat;
}

.bg-contain{
	background-size: contain;
	background-position: center center;
	background-repeat:no-repeat;
}
