.w100{
	width:100%;
}

.h100{
	height:100%;
}

.wh100{
	width:100%;
	height:100%;
}

.rel{
	position:relative;
}

.square{
	&:before{
		content:'';
		.block;
		padding-top:100%;
	}
}

.abs(@t:0;@r:0;@b:0;@l:0;@w:100%;@h:100%){position: absolute;top:@t;right:@r;bottom:@b;left:@l;width:@w;height:@h;}
.fix(@t:0;@r:0;@b:0;@l:0;@w:100%;@h:100%){position: fixed;top:@t;right:@r;bottom:@b;left:@l;width:@w;height:@h;}

.overflow{
	overflow:hidden;
}

.overflow-y{
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	-webkit-overflow-scrolling:touch;
	.flex-grow(1);
}

.overflow-x{
	overflow-x:auto;
	overflow-y:hidden;
	-webkit-overflow-scrolling:touch;
}

.hide{
	display:none;
}

.show, .block{
	display:block;
}

.opacity(@opacity) {
	@opacityPercentage: @opacity * 100;
	opacity:@opacity;
	-ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opacityPercentage})"; 
	filter: ~"alpha(opacity = @{opacityPercentage})";
}

.pointerEvents(@events:none){
	pointer-events: @events
}

.cursor(@cursor:default){
	cursor:@cursor;
}

.rounded(@radius:1px){
	border-radius:@radius;
}

.padded(@padding:5px){
	padding:@padding;
}

.padded{
	.padded();
}

.shadow(){
	box-shadow:0 0 0 1px rgba(0,0,0,0.05), 0 3px 2px -1px rgba(0,0,0,0.1);
}
.overlayShadow(){
	box-shadow:0 0 0 1px rgba(0,0,0,0.05), 0 2px 20px -3px rgba(0,0,0,.5);
}

.tb(@color:red;){border:2px solid @color;}


.icon-font{
	font-family: 'FontAwesome';
}


