.dropzone{
	height: 100px;
	box-sizing: border-box;
	margin: 5px;
	padding:5px;
	font-size: 1.5em;
	color:@mlgray;
	.flex(@align:center);
	.flex-grow(1);
	cursor: pointer;
	.text-center;
}

.dz-preview{
	display: none;
}

