.flex(@direction:row;@align:flex-start;@justify:center;@wrap:nowrap) {
	@display: flex;
	display: ~"-webkit-@{display}";
	display: ~"-ms-@{display}box";
	display: ~"-ms-@{display}";
	display: @display;
	-webkit-flex-direction: @direction;
	-ms-flex-direction: @direction;
	flex-direction: @direction;
	-webkit-justify-content: @justify;
	-ms-justify-content: @justify;
	justify-content: @justify;
	-webkit-align-items: @align;
	-ms-align-items: @align;
	align-items: @align;
	-webkit-flex-wrap: @wrap;
	-ms-flex-wrap: @wrap;
	flex-wrap: @wrap;
}

.flex-shrink(@shrink: 1) {
	-webkit-flex-shrink: @shrink;
	-ms-flex-shrink: @shrink;
	flex-shrink: @shrink;
}

.flex-grow(@grow: 1) {
	-webkit-flex-grow: @grow;
	-ms-flex-grow: @grow;
	flex-grow: @grow;
}

.flex-basis(@basis: 0) {
	-webkit-flex-basis: @basis;
	-ms-flex-basis: @basis;
	flex-basis: @basis;
}

.flex-equal(){
	.flex-shrink(1);
	.flex-grow(1);
	.flex-basis(0);
}


.grow{
	.flex-grow();
}

.noshrink{
	.flex-shrink(0);
}


.content{
	width:100%;
	.flex-grow(1);
	.flex(column;@align:stretch;@justify:flex-start);
	.overflow();
	&.overflow-y{
		overflow-y:auto;
	}
}

.rows{
	.flex(column;@align:stretch;@justify:flex-start);
	.flex-grow(1);
	.flex-shrink(0);
}

.flex{
	.flex(row;@align:stretch);
	.flex-shrink(0);
	.flex-grow(1);
}

///////////////////////////////////////////////////
// Column sizes
//

@media @desktop{
	.cols-2 > *{max-width: ~"calc(100%/2)"};
	.cols-3 > *{max-width: ~"calc(100%/3)"};
	.cols-4 > *{max-width: ~"calc(100%/4)"};
	.cols-2-3 > *{&:first-child{max-width:~"calc(100%/3)";}};
}

///////////////////////////////////////////////////
// Responsive layout
//

@media @desktop{
	.cols{
		.flex(row;@align:stretch;@justify:flex-start);
		.flex-grow(0);
		.flex-shrink(0);
		& > *{
			.flex-basis(0);
			.flex-grow(1);
			.flex-shrink(0);
			width: 0;
		}
		.spacer{
			.flex-grow(1);
		}
		&.flex-end{
			.flex(row;@align:stretch;@justify:flex-end);
		}
	}
}

@media @tablet{
	.cols{
		.flex(column;@align:stretch;@justify:flex-start);
	}
}
