.button-hover(){
	&[disabled="disabled"]{
		.opacity(0.5);
	}
	&:not(.nohover):not([disabled="disabled"]):hover{
		.bg(rgba(0,0,0,0.05));
		.cursor(pointer);
	}
	&:not(.nohover):not([disabled="disabled"]):active{
		.cursor(pointer);
		background-color:rgba(0,0,0,0.2);
	}
	&.active:not([disabled="disabled"]){
		background-color:rgba(0,0,0,0.1);
		&:hover{
			.bg(rgba(0,0,0,0.15));
		}
	}
}

.header(){
	*{
		box-sizing:border-box;
	}
	width:100%;
	.flex(row;@align:stretch;@justify:space-between);
	.flex-shrink(0);
	.icon{
		.flex(column;@align:center;@justify:center);
		.flex-shrink(0);
		width:44px;
		font-size: @titleFont;
		&.indicator{
			width:10px;
			margin-right: 10px;
		}
	}
	.text{
		.cursor(default);
		.flex(column;@align:flex-start;@justify:center);		
		.flex-grow(1);
		min-height: 34px;
		margin-left:10px;
	}
	.icon ~ .text{
		margin-left: 0;
	}
	.controls{
		.flex(@align:stretch;@justify:flex-start);
		.flex-grow(1);
		.flex-shrink(0);
		& > button:not(.spacer), & > div:not(.spacer) {
			.button-hover();
		}
		.spacer{
			.flex-grow();
		}
		& > div, & > button, &> span{
			.flex-shrink(0);
			.flex(@align:center);
			.cursor(default);
			margin:0;
			.bg(transparent);
			font-size: 1em;
			border:none;
			outline: none;
			i ~ span{
				padding-left:10px;
			}		
			span ~ i{
				padding-left:10px;
			}
			&:hover{
				ul{
					.opacity(1);
					visibility: visible;
				}
			}
			ul{
				visibility: hidden;
				position: absolute;
				top:100%;
				right:0;
				.bg(#555);
				min-width: 200px;
				box-shadow: 0 3px 5px rgba(0,0,0,0.2);
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;
				.transition(all;@speed:@aniVeryFast);
				& > li:first-child{
					box-shadow: 0 5px 5px -5px rgba(0,0,0,0.2) inset, 0 10px 10px -10px rgba(0,0,0,0.1) inset;
				}
				@supports ((-webkit-clip-path:none) or (clip-path:none)) {
					box-shadow: 0 0 40px rgba(0,0,0,0.25);
					clip-path: inset(0px -50px -50px -50px);
				}
				li{
					i{
						.flex(@align:center);
						width:34px;
					}
					span{
						padding-left: 0;
					}
					.flex(@align:center;@justify:flex-start);
					padding-right:10px;
					height:44px;
					.button-hover();
				}
			}
		}

	}
	.controls:last-child{
		.flex(@align:stretch;@justify:flex-end);
	}
}

.section-header{
	.rel;
	.header();
	.bg(#484848);
	height:44px;
	.rel;
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
	z-index: 1;
	font-size: 1.1em;
	color:#fff;
	& > .controls{
		& > div, & > span{
			min-width: 44px;
			padding:0 15px;
			i ~ span{
				padding-left:15px;
			}		
			span ~ i{
				padding-left:15px;
			}
			i{
				font-size: 1.2em;
			}
		}
		.min-max{
			.rel;
			width:44px;
			color:#fff;
			font-size: 14px;
			.bg(#555);
			i{
				.rel;
			}
			&:hover{
				.bg(#444) !important;
			}
		}
	}
	//angled buttons
	& > .heading{
		.rel;
		.flex(row;@align:stretch;@justify:flex-start);
		margin:0;
		padding-right: 20px;
		.overflow();
		font-weight: normal;
		box-sizing: content-box;
		font-size: 1em;
		& > div{
			.rel;
			.flex(row;@align:center;@justify:flex-start);
			.cursor(default);
			.transform(skewX(-17deg));
			.bg(#505050);
			outline: 1px solid transparent;
			&:first-child{
				padding-left: 20px;
				margin-left: -20px;
			}
			i{
				.transform(skewX(17deg));
				width:44px;
				.text-center;
				color:@accent;
				font-size: 1.2em;
			}
			span{
				.transform(skewX(17deg));
				padding-left: 0px;
				padding-right: 15px;
			}
			&.button{
				.cursor(pointer);
				.button-hover();
				&.active{
					color:#fff;
					.bg(#444);
					box-shadow: 1px 0 0 rgba(0,0,0,0), -5px 0 5px -5px rgba(0,0,0,0.05) inset;
					i{
						color:#fff;
					}
					&:hover{
						.bg(#404040);
					}
					&:active{
						.bg(#3a3a3a);
					}
				}
				&:not(.active):hover{
					box-shadow:-1px 0 1px rgba(0,0,0,0.2);
					.bg(#4a4a4a);
				}
				&:not(.active):active{
					.bg(#444);
				}
			}
			& + div{
				left:-2px;
				box-shadow:-1px 0 1px rgba(0,0,0,0.1);
			}
		}
	}
}



.section-subheader{
	.overflow();
	.header;
	.rel;
	height:34px;
	//border-top: 1px solid #ccc;
	//border-bottom: 1px solid #ccc;
	.bg(@xxlgray);
	color:@dgray;
	.icon{
		font-size: @headingFont;
		color:@accent;
	}
	.text .title{
		font-size: @headingFont;
	}
	.controls{
		div, button{
			color:#555;
			padding:0 15px;
			i ~ span{
				padding-left:15px;
			}		
			span ~ i{
				padding-left:15px;
			}
		}
	}

}


