/*
.fa-angle-down,.fa-angle-double-down,.fa-angle-double-up,.fa-angle-up{
	font-size: 24px !important;
	&::before{
		position: relative;
	}
	}*/

	.fa-angle-right,.fa-angle-left{
		font-size: 24px;
		&::before{
			position: relative;
			top:-1px;
		}
	}
	.fa-caret-right,.fa-caret-left{
		font-size: 24px;
		&::before{
			position: relative;
			top:-1px;
		}
	}

	.fa-chevron-right,{
		&::before{
			position: relative;
			top:1px;
			left:2px;
		}
	}
	.fa-chevron-left{
		&::before{
			position: relative;
			top:1px;
			left:-2px;
		}
	}


	.fa-search{
		font-size: 0.9em;
		&::before{
			position: relative;
		}
	}

	.fa-filter{
		font-size: 0.9em;
	}

	.fa-truck{
		.transform(scaleX(-1));
		&::before{
			position: relative;
			left:-1px;
			top:1px
		}
	}

	.ic-split:before{
		font-size: 0.9em;
	}


	.ic-dot-3:before{
		.rel;
		top:3px;
	}

	.ic-fireball:before{
		.rel;
		top:1px;
	}

	.ic-dot-3-v{
		.transform(rotateZ(90deg));
	}


/*.fa-calendar, .fa-calendar-plus-o, .fa-calendar-check-o, .fa-calendar-minus-o{
	font-size: 0.9em;
	&::before{
		position: relative;
		top:-1px;
	}
	}*/

	.fa-download{
		font-size: 0.9em;
		&::before{
			position: relative;
			top:1px;
		}
	}

	.fa-pause{
		font-size: 0.85em;
		&::before{
			position: relative;
			top:-1px;
		}
	}

	.fa-question-circle,.fa-info-circle{
		&::before{
			position: relative;
		}
	}

	.fa-plus{
	//font-size: 0.9em;
	&::before{
		position: relative;
		top:1px;
	}
}
.fa-edit{
	font-size: 0.9em;
	&::before{
		position: relative;
		top:2px;
	}
}
.fa-share-alt{
	&::before{
		position: relative;
		left:-1px
	}
}

.fa-plane{
	.transform(rotateZ(45deg));
	&::before{
		position: relative;
		left:-1px;
		top:2px;
	}
}

.fa-rocket{
		&::before{
		position: relative;
		left:-1px;
		top:1px;
	}
	.transform(rotateZ(45deg));
}

.ic-measure:before{
	.rel;
	top:1px;
}
.ic-nuclear:before{
	.rel;
	font-size: 1.2em;
	top:1.5px;
	left:0.5px;
}