@inputBg:#fff;
@inputBorder:#d0d0d0;

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/*
.inputFocus(@zindex:1){
	& when(@zindex=1){
		.rel;
		z-index: 1;
	}
	border:1px solid transparent !important;
	box-shadow:0 0 0 1px rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.1), 0 0 30px -10px rgba(0,0,0,0.75);
}
*/
select::-ms-expand {
    display: none;
}
input::-ms-clear {
    display: none;
}

.ui-select-container, input, select{
	& ~ span{
		display: block;
		.pointerEvents;
		.abs(@w:40px;@h:40px;@l:auto;@b:0;@t:auto);
		&:after{
			.abs();
			.flex(@align:center);
			.icon-font;	
			font-size:1.1em;
			.text-center;
			.rounded;
		}
		&:hover ~ span:after,&:focus ~ span:after{
			color:@accent;
		}
	}
	&[disabled=disabled]{
		& ~ span:after{
			color:@mlgray;
		}
	}
}


input{
	&[type=date] ~ span:after{
		content: '\f073';
	}

	&[type=time] ~ span:after{
		content: '\f017';
	}
}

select ~ span:after{
	content: '\f0d7';
	font-size: 18px;
}

@checkboxSize:18px;
.checkbox {
	input{
		.abs();
		.opacity(0);
		.cursor(pointer);
		z-index: 1;
	}
	.rel;
	width:100%;
	height:100%;
	.cursor(pointer);
	label{
		content:' ';
		.flex(@align:center);
		.rounded();
		.abs(@w:@checkboxSize;@h:@checkboxSize;@l:50%;@t:50%;@r:auto;@b:auto);
		border:@tableBorder;
		background-color:#fff;
		margin-left: -@checkboxSize/2-1;
		margin-top: -@checkboxSize/2-1;
		&:after{
			content: "\f00c";
			display: 'block';
			color:transparent;
			.transition(color,@aniVeryFast);
			.flex(@align:center);
			.abs(@w:@checkboxSize;@h:@checkboxSize;@l:50%;@t:50%;@r:auto;@b:auto);
			margin-left: -@checkboxSize/2-1;
			margin-top: -@checkboxSize/2-1;
			font-size:12px;
			border:1px solid transparent;
			.icon-font();
		}
	}
	input:checked~label:after{
		color:@dgray;
	}
	input:focus~label{
		.inputFocus();
		box-shadow:0 0 0 1px rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.35);
	}
	input[disabled=disabled]{
		.cursor(default);
		&:checked ~ label:after{
			color:@lgray !important;
		}
	}
	&.active{
		.bg(@accent);
	}
}

.toggle{
	input{
		.abs();
		.opacity(0);
		.cursor(default);
		z-index: 1;
	}
	.rel;
	width:100%;
	height:40px;
	margin:10px;
	.flex(@align:center);
	label{
		z-index: 0;
		.flex(@align:center;@justify:flex-start);
		width:100%;
		height:100%;
		padding:5px 3px;
		font-size: 0.95em;
		color:@mgray;
		&:after{
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			box-sizing: border-box;
			display: block;
			content:'';
			.abs();
		}
	}
	span{
		.rel;
		width:56px;
		.flex-shrink(0);
		height:28px;
		.rounded(14px); 
		.bg(@xlgray);
		.transition(@speed:@aniFast);
		&:after{
			content:'';
			display: block;
			width:24px;
			height:24px;
			margin:2px;
			background-color: #fff;
			.rounded(100%);
			overflow: visible;
			box-shadow:0 2px 3px rgba(0,0,0,0.15);
			.transition(@speed:@aniFast);
			.transform(translateX(0));
		}
	}
	input:not([disabled=disabled]){
		.cursor(pointer) !important;
	}
	input[disabled=disabled] ~ span{
		.opacity(0.5);
	}

	input:checked~span{
		.bg(@accent);
		&:after{
			.transform(translateX(28px));
		}
	}
	input:not([disabled=disabled]):focus~label, input:not([disabled=disabled]):hover~label{
		color:#000;
		border-bottom: 1px solid @dgray;
	}

}