body{
	//.lightScrollbar();
}

.scrollbarSize(){
	&::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
	&::-webkit-scrollbar-button {
		width: 0px;
		height: 0px;
	}
}

.hideScrollbar(){
	.scrollbarSize();
	scrollbar-base-color:transparent !important;
	scrollbar-arrow-color:transparent !important;
	scrollbar-3dlight-color:transparent !important;
	scrollbar-highlight-color:transparent !important;
	scrollbar-track-color:transparent !important;
	scrollbar-shadow-color:transparent !important;
	scrollbar-dark-shadow-color:transparent !important;
	&::-webkit-scrollbar-thumb,
	&::-webkit-scrollbar-thumb:hover,
	&::-webkit-scrollbar-thumb:active,
	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-track:hover,
	&::-webkit-scrollbar-track:active,
	&::-webkit-scrollbar-corner{
		background:transparent !important;
		border: none !important;
	}
}

.lightScrollbar(){
	.scrollbarSize();
	&::-webkit-scrollbar-thumb {
		background: @mlgray;
		border-left: 1px solid @xlgray;
		border-right: 1px solid @xlgray;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: @mgray;
	}
	&::-webkit-scrollbar-thumb:active {
		background: @mdgray;
	}
	&::-webkit-scrollbar-track {
		background: @xlgray;
		border: none;
	}
	&::-webkit-scrollbar-track:hover {
		background: @xlgray;
	}
	&::-webkit-scrollbar-track:active {
		background: @xlgray;
	}
	&::-webkit-scrollbar-corner {
		background: transparent;
	}
	scrollbar-base-color: @mlgray;
	scrollbar-arrow-color: @mlgray;
	scrollbar-highlight-color: @xlgray;
	scrollbar-3dlight-color: @xlgray;
	scrollbar-track-color: @xlgray;
	scrollbar-shadow-color: @xlgray;
	scrollbar-dark-shadow-color: @xlgray;
}

.darkScrollbar(){
	.scrollbarSize();
	&::-webkit-scrollbar-thumb {
		background: @mgray;
		border-left: 1px solid @dgray;
		border-right: 1px solid @dgray;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: @mlgray;
	}
	&::-webkit-scrollbar-thumb:active {
		background: @lgray;
	}
	&::-webkit-scrollbar-track {
		background: @dgray;
		border: none;
	}
	&::-webkit-scrollbar-track:hover {
		background: @dgray;
	}
	&::-webkit-scrollbar-track:active {
		background: @dgray;
	}
	&::-webkit-scrollbar-corner {
		background: transparent;
	}

	scrollbar-base-color: @mlgray;
	scrollbar-arrow-color: @lgray;
	scrollbar-3dlight-color: @dgray;
	scrollbar-highlight-color: @dgray;
	scrollbar-track-color: @dgray;
	scrollbar-shadow-color: @dgray;
	scrollbar-dark-shadow-color: @dgray;
}