[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

*:not(i){
	box-sizing: border-box !important;
}

html, body {
	font-family: @fontName;
	margin:0;
	text-size-adjust: 100%;
	font-size: @baseFont;
	-webkit-tap-highlight-color:transparent !important;
	-webkit-font-smoothing: antialiased;
	text-rendering: auto;
	cursor:default;
}

//@media @tablet{
	html, body {
		height:100%;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		position:relative;
	}
//}

input{
	font-family: @fontName;
}

[no-role]{
	display:none !important;
}

ul{
	margin:0;
	padding:0;
	list-style-type: none;
	list-style: none;
}

.max-width{
	max-width: @maxWidth;
}

.root-view{
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.title{
	font-size: @titleFont;
}

.subtitle{
	font-size: @subtitleFont;
}

/*
.titles{
	.flex(column;@justify:center);
	width:100%;
}
*/

#bodyContainer{
  width:100%;
  height: 100%;
  padding-top: 105px;

	#mainController, > .ng-scope {
  		height: 100%;
  	}
}

html, body{
	overflow: hidden !important;
}

#headerContainer{
  z-index: 99;
}

.no-results{
	text-align: center;
    display: inline-block;
    padding: 15px;
    width: 100%;
}

.width100{
	width:100%
}

.align-right{
	text-align: right;
}

.align-left{
	text-align: left;
}

.align-center{
	text-align: center;
}

.fa.fa-search{
	font-size: 2em;
}

.dz-preview{
	display:none;
}

.downloadTemplate{
	color: #FFF;
	padding:5px;
	margin-bottom: 10px;
	border-radius: 3px;
	
	a{
		color: #FFF;
		text-decoration: none;		
		font-size: 1em;
		padding-right: 5px;
	}
}

.selectAllContainer{
	padding:10px;
	cursor: pointer;
	width: 100px;
}
.selectAll{
    border: 1px solid #C0C0C0;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 5px;
    color:#FFF;
}

.selectAllContainer .checked{
	background-color: #ce2028;
    border-color: #ce2028;
}

.selectAll .fa-check{
	padding: 2px;
}

.customErrorMessage{
	color: #ff3b30;
	
}

.huTableHeader{
	display: inline-block;
	width: 100%;
}

ui-list .icon{
	margin: 0;
	height: auto;
	width: auto;
}

#footerContainer{
	display: none !important;
}

.contactHeader{
	width: 100%;
	color: #555;
	font-size: 0.85em;
    .contactLabel{
		display: inline-block;
		padding: 5px 0px 0px 13px;
		text-transform: uppercase;
    }
    .deleteContact{
		display: inline-block;
    	cursor: pointer;
    	width: 90px;
    	float: right;
    	padding: 5px;
    	margin-right: 10px;
    	text-align: right;
    }
    .deleteContact:hover{
    	background-color: rgba(0, 0, 0, 0.05);    
    }
}

.errorBox{
	border : solid 1px #ce2028;
}

.inline-block{
	display: inline-block !important;
}