.title{
	.block;
	font-size: 1em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	width:100%;
	margin:3px 0;
}
.subtitle{
	.block;
	color:#777;
	font-size: 0.9em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	margin:3px 0;
}


.labelStyle(){
		margin:5px 0 5px 0;
		color: rgba(0,0,0,0.5);
		.uppercase;
		font-weight: 500;
		letter-spacing: 0.1px;
		font-size: 0.78em;
		-webkit-font-smoothing: subpixel-antialiased;
		cursor:inherit;
}

label{
	.labelStyle();
}

.accent, .text-accent{
	color:@accent !important;
}

.text-white{
	color:#fff !important;
}

.text-black{
	color:#000 !important;
}

.text-blue{
	color:@blue !important;
}

.text-eBlue{
	color:@eBlue !important;
}

.text-red{
	color:@red !important;
}

.text-green{
	color:@green !important;
}

.text-orange{
	color:@orange !important;
}

.text-yellow{
	color:@yellow !important;
}

.text-eYellow{
	color:@eYellow !important;
}

.text-purple{
	color:@purple !important;
}

.text-magenta{
	color:@magenta !important;
}

.text-dgray{
	color:@dgray !important;
}

.text-gray,.text-mgray{
	color:@mgray !important;
}

.text-mlgray{
	color:@mlgray !important;
}

.text-lgray{
	color:@lgray !important;
}

.text-xlgray{
	color:@xlgray !important;
}


.text-light{
	font-weight: 300;
}

.text-normal{
	font-weight: 400;
}

.text-bold{
	font-weight: 600;
}

.text-bolder{
	font-weight: 700;
}

.text-boldest{
	font-weight: 800;
}


.text-pre{
	white-space: pre-line;
}

.text-trim{
	.overflow;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.text-nowrap{
	white-space: nowrap;
}

.text-wrap{
	white-space: wrap;
}

.uppercase{
	text-transform: uppercase;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.text-justify{
	text-align: justify;
}

