@fontName:"Lato", "Helvetica Neue", "Lucida Grande", "Arial", "Sans-Serif";

@accent: #ce2028;
@xlaccent: tint(@accent,62.5%);
@laccent: tint(@accent,50%);
@daccent: shade(@accent,10%);
@xdaccent: shade(@accent,20%);

@glassLight: rgba(255,255,255,0.85);
@glassDark: rgba(100,100,100,0.85);

@tableBorderColor:#e0e0e0;
@tableBorder:1px solid @tableBorderColor;

@dgray: #303030;
@mdgray: #505050;
@mgray: #808080;
@mlgray: #A0A0A0;
@lgray: #C0C0C0;
@xlgray: #D0D0D0;
@xxlgray: #eaeaea;
@xxxlgray: #f8f8f8;

@faint: rgba(0,0,0,0.1);

@mainbg: #FFFFFF;
@sidebarbg:difference(@mainbg, #080808);

//@red:#ff3b30;
@red:#ff6259;
//@blue:#007aff;
@blue:#3394ff;
//@eBlue:rgb(0,192,255);
@eBlue:#33ccff;
//@green:#4cd964;
@green:#6fe083;
//@purple:#5856d6;
@purple:#7977de;
//@orange:#ff9500;
@orange:#ffaa33;
@yellow:#ffcc00;
@eYellow:#d7ff00;
//@magenta:#ff2d55;
@magenta:#ff5777;

@baseFont:0.9em;
@headingFont:1.3em;
@titleFont:1.1em;
@subtitleFont:1em;
@tinyFont:0.8em;

@baseWidth:44px;
@baseHeight:44px;

@maxWidth:1920px;
//@paddedWidth:~"calc(100% - 50px)";
@paddedWidth:100%;

@navBarHeight:115px;
