ui-table,[ui-table],.ui-table{
	input{
		width:100%;
		padding:0;
	}
	.ui-table-desktop{
		table{
			width:100%;
			border-spacing: 0;
		}
		thead th{
			.bg(rgba(0,0,0,0.025));
			color:@mdgray !important;
			font-weight: 500 !important;
			font-size: 0.8em;
			border-bottom: 1px solid rgba(0,0,0,0.05);
			padding:10px 5px;
			.labelStyle();
			&:not(.text-center):not(.text-right){
				text-align: left;
			}
		}

		tr:hover {
			td{
				.bg(rgba(0,0,0,0.025));
			}
			.ui-table-checkbox{
				&:after{
					color:rgba(0,0,0,0.15);
				}
			}
		}

		tr td, .tr .td{
			padding:5px;
		}

		tr:not(:last-child) td{
			border-bottom: 1px solid rgba(0,0,0,0.1);
		}

		.ui-table-action-btn{
			box-shadow: 0 -1px 0 rgba(0,0,0,0.15) inset;
		}
	}

	.ui-table-checkbox{
		.flex-shrink(0);
		outline:none;
		-webkit-appearance: none;
		border:1px solid @lgray;
		.rounded(100%);
		width:18px;
		height:18px;
		cursor:pointer;
		&:after{
			width:100%;
			height: 100%;
			.flex(@align:center);
			padding:auto 0;
			.text-center;
			.icon-font;
			font-size: 1em;
			content:'\f00c';
			color:transparent;
		}
		&:checked{
			border-color: @accent;
			.bg(@accent);
			&:after{
				color:#fff !important;
			}
		}
	}

	.ui-table-select{
		width: 44px;
	}

	.ui-table-action{
		padding:0 !important;
		width: 44px;
		border-bottom: none !important;
		height: 100%;
		.ui-table-action-btn{
			font-size: 1.2em;
			color:#fff;
			height: 100%;
		}
	}


	.ui-table-mobile{
		.ui-table-mobile-row{
			.flex(row;@align:stretch);
			&:not(:last-child){
				box-shadow: 0 -1px 0 rgba(0,0,0,0.15) inset;
			}
			&.selectable{
				label{
					margin-left: 0;
				}
			}
		}

		.ui-table-select{
			.flex-shrink(0);
			.flex(@align:center);
		}

		.ui-table-actions{
			min-width:44px;
			align-self:stretch;
			.flex(column;@align:stretch;@justify:center);
			.flex-grow(1);
		}

		.ui-table-action{
			height: 0;
			.flex-grow(1);
			.flex-basis(0);
		}

		.ui-table-action:last-child .ui-table-action-btn{
			box-shadow: 0 -1px 0 rgba(0,0,0,0.15) inset;
		}

		.ui-table-mobile-cols{
			width: 100%;
			.flex(column);
			& > div{
				.flex(row;@align:center;@justify:flex-start);
				width: 100%;
				margin-bottom: 5px;
				&.multi{
					.flex(column);
				}
			}
			margin-right: 5px;
		}

		.ui-table-mobile-cols-multi{
			width:100%;
			.flex(row;@align:center;@justify:flex-start);
			&:not(:last-child){
				margin-bottom: 5px;
			}
		}

		label{
			.flex-shrink(0);
			min-width: 40%;
			max-width: 40%;
			text-align: left;
			margin-left: 5px;
			margin-right: 5px
		}
	}
}