///////////////////////////////////////////////////
// Element
//

ui-list,[ui-list]{
    .block;
    .w100;
    .flex-shrink(1);
    .flex-grow(1);
    color:@uiListDefaultColor;
/*    &.stretch{
        ui-list-header{
            .overflow();
        }
        ui-list-body{
            &>li{
                width:100%;
                .flex-grow(1);
            }
        }
    }
    */

    ui-list-header,[ui-list-header]{
        .rounded();
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        .rel;
        overflow-x:hidden;
        .hideScrollbar();
        -webkit-overflow-scrolling:touch;
        .flex-shrink(0);
        .flex-grow(0) !important;
        .flex(row;@align:stretch;@justify:flex-start);
        & > li{
            .rel;
            width:0;
            .flex-grow(1);
            .flex-shrink(0);
            .flex(row;@align:center;@justify:space-between);
            .transition();
            &.text-center{
                justify-content:center;
            }
            &.text-left{
                justify-content:flex-start;
            }
            &.text-right{
                justify-content:flex-end;
            }
            .subheader{
                .bg(rgba(0,0,0,0.35));
                margin-top: 3px;
                color:#fff;
                font-size: 0.75em;
                line-height:15px;
                .uppercase;
            }
        }
        ui-list-sort-btn,[ui-list-sort-btn]{
            .flex(@align:center);
        }
    }
    ui-list-empty,[ul-list-empty]{
        .flex(@align:center);
        min-height: 44px;
        .w100;
        .text-center;
        color:@mgray;
    }
    ui-list-body,[ui-list-body]{
        .block;
        .subform{
            box-shadow: 0 2px 2px -2px rgba(0,0,0,0.25) inset;
        }
/*        .padded{
            padding:5px;
        }*/
        & > li{
            .rel;
            .flex(row;@align:stretch;@justify:flex-start);
            .flex-shrink(0);
            .transition(@speed:@aniFast);
            &.ng-leave{
                transition:none;
            }
        }
        b{
            font-size: 0.9em;
            .flex-grow(1);
            padding:2px 10px;
            .text-trim;
            display: inline-block;
            .text-center;
            height:18px;
            line-height: 18px;
            border-radius: 3px;
        }
    }
    &:after{
        display: block;
        content:'';
    }

    ///////////////////////////////////////////////////
    // Content
    //

    ui-list-content{
        .flex(row;@align:stretch;@justify:flex-start);
        .flex-shrink(1);
        .flex-grow(1);
        .transition(@prop:@aniPropTransform);
        &.icons{
            .flex-grow(0);
        }
        @media @tablet{
            &:not(:first-child){
                border-left:1px solid rgba(0,0,0,0.05);
            }
            &:not(:last-child){
                border-right:1px solid rgba(0,0,0,0.05);
            }
            padding:5px 0 !important;
            .flex-grow(1);
            .flex(column;@align:stretch;@justify:flex-start); 
        }
    }

    ///////////////////////////////////////////////////
    // UI-Field
    //
    
    ui-field,[ui-field]{
        width:100%;
        &.inline{
            width:100%;
            margin:0;
            border:none;
            label{
                .hide;
            }
        }
    }
}


///////////////////////////////////////////////////
// Actions
//


ui-list-static-actions{
    .flex-grow(0) !important;
    .flex();
}

ui-list-actions{
    .bg(#fff);
    .overflow();
    .hide;
}

ui-list li.show-actions-prepare{
        @media @desktop{
        box-shadow: 0 0 35px rgba(0,0,0,0.15);
    }
}
ui-list li.show-actions{
    .overflow();
    .render();
    z-index: 2;
    ui-list-actions{
        .flex(@align:center;@justify:flex-end);
        @media @tablet{
            .flex(column;@align:center;@justify:flex-end);
        }
        .abs(@l:auto;@w:auto;@r:50px);
        & > *{
            width:50px;
            height:100%;
            color:#fff;
            .flex(column;@align:center;@justify:center);
            i{
                font-size:16px;
            }
        }
    }
    ui-list-content{
        .bg(#fff) !important;
        z-index: 1;
    }
}

ui-list-actions-btn{
    padding:0 !important;
    color:@accent;
    .transition(@speed:@aniFast);
}

ui-list-actions-btn,.ui-list-actions-btn-header{
    font-size: 18px !important;
    width:50px;
    min-width:50px;
    max-width:50px;
    .text-center;
    justify-content:center;
}

ui-list.show-actions-prepare{
    ui-list-header > li{
        .opacity(0.1);
    }
    ui-list-body > li:not(.show-actions-prepare){
        .opacity(0.2);
        .pointerEvents(none);
    }
}


///////////////////////////////////////////////////
// Cell
//

@media @desktop{
    ui-list cell label{
        .hide;
    }
    ui-list cell ui-field label{
        width:100%;
        display:flex;
    }
}

ui-list cell{
    width:0;
    .flex-grow(1);
    .flex-shrink(0);
    .flex(row;@align:center;@justify:flex-start);

    padding:@uiListPadding;
    &.rows{
        .flex(column;@align:stretch;@justify:center);
    }
    &.text{
        .overflow();
    }
    &.icon{
        padding:0 !important;
        .flex(row;@align:center;@justify:center) !important;
    }
    label{
        width:35%;
        margin-right: 10px;
        color:#777;
        margin-bottom: 2px;
        .flex-shrink(0);
    }

/*    *+label{
        margin-top:8px;
        }*/

        @media @desktop{
            &.text-center{
                justify-content:center;
            }
            &.text-left{
                justify-content:flex-start;
            }
            &.text-right{
                justify-content:flex-end;
            }
        }
        @media @tablet {
            margin:0 !important;
            padding:0 5px !important;
            max-width: none !important;
            min-width: none !important;
            width:auto !important;
            min-height: 44px;
            text-align: left !important;
            justify-content:flex-start !important;
            .flex(row;@align:center;@justify:flex-start) !important;
            &.rows{
                .flex(column;@align:flex-start;@justify:flex-start) !important;
                .row{
                    .w100;
                    .flex(row;@align:center;@justify:flex-start) !important;
                    min-height: 44px;
                }
            }
            ui-field label{
                .hide;
            }
            input{
                text-align: left !important;
            }
            ui-field{
                width:auto !important;
                .flex-grow(1);
            }
        }
    }




///////////////////////////////////////////////////
// Styling
//


@uiListHeaderBackground:rgba(0,0,0,0.025);
@uiListHeaderSeparator:1px solid #eaeaea;
@uiListHeaderHeight:30px;
@uiListHeaderColor:@mdgray;
@uiListOverflowHeaderShadow:0 1px 0 rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.05);
@uiListStaticHeaderShadow:0 1px 0 rgba(0,0,0,0.1);

@uiListBodyBackground:transparent;
@uiListBodyBorder:1px solid rgba(0,0,0,0.05);
@uiListBodySeparator:1px solid rgba(0,0,0,0.05);
@uiListBodyHeight:44px;
@uiListHover:rgba(207,46,46,0.05);
@uiListSelected:rgba(207,46,46,0.15);
@uiListHoverSelected:rgba(207,46,46,0.2);

@uiListAlternateColor:rgba(0,0,0,0.025);
@uiListDefaultColor:@dgray;
@uiListPadding:5px;

ui-list,[ui-list]{
    color:@uiListDefaultColor;
    .cursor(default);
    ui-list-header,[ui-list-header]{
        .bg(@uiListHeaderBackground);
        color:@uiListHeaderColor;
        font-weight: 500;
        font-size: 0.8em;
        border-bottom: 1px solid rgba(0,0,0,0.05);
        .uppercase;
        @media @tablet {
            .hide;
        }
        .icon{
            align-items: center;
        }
        & > li{
            .overflow();
            padding:10px 5px;
            ui-list-sort-btn,[ui-list-sort-btn]{
                font-size:0.9em;
                .opacity(0.5);
                width: 22px;
                height: 100%;
                padding-left: 5px;
                &:hover{
                    .opacity(1);
                    .cursor(pointer);
                }
            }
        }
    }
    ui-list-body,[ui-list-body]{
        b{
            margin:0 10px;
        }
        &{
            .rounded();
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        color:@uiListDefaultColor;
        @media @tablet{
            border-top:@uiListHeaderSeparator;
        }
        & > li{
            &:not(:first-child){
                border-top: @uiListBodyBorder;
            }

            @desktop{
                .row{
                    width:100%;
                }
            }
        }
    }
}

ui-list,[ui-list] {
    .icon{
        .rel;
        min-width:54px !important;
        max-width:54px !important;
        .flex-shrink(0);
        justify-content:center;
        .flex(@align:stretch);
        [ui-button]{
            align-self:stretch;
            .w100;
            .overflow();
            font-size: 1.2em;
            &:after{
                .w100;
            }
        }
        .checkbox{
            border:1px solid @lgray;
            .rounded(100%);
            width: 18px;
            height:18px;
            align-self:center;
            &.checked{
                .bg(@accent);
                border-color:@accent;
                &:after{
                    .flex(@align:center);
                    .icon-font;
                    font-size: 0.8em;
                    padding-left: 0.5px;
                    .abs();
                    content:'\f00c';
                    color:#fff;
                }
            }
        }
    }
}


///////////////////////////////////////////////////
// Hover li
//

@media @desktop{
    ui-list:not(.show-actions){
        ui-list-body li:hover{
            //.render();
            //z-index: 2;
            //box-shadow: 0 0 1px 1px @accent;
            .bg(rgba(0,0,0,0.015));
        }
    }
}

ui-list,[ui-list] {
    ui-list-body,[ui-list-body]{
        .lightScrollbar();
    }
}

/*
ui-list[theme="list"],[ui-list][theme="list"] {
    ui-list-body,[ui-list-body]{
        font-size: 1em;
        & > li{
            .rel;
            & > *, cell{
                &:not(:last-child){
                    border-right: none;
                }
            }
        }
    }
    }*/

    @listCornerBadgeSize:38px;
    .list-right-corner-badge{
        .pointerEvents(none);
        .overflow();
        .abs(@w:@listCornerBadgeSize*2;@h:@listCornerBadgeSize*2;@l:auto;@b:auto);
        .flex(@align:flex-start;@justify:flex-end);
        .badge{
            font-size: 18px;
            .abs(@w:@listCornerBadgeSize*2;@h:@listCornerBadgeSize*2;@l:auto;@b:auto;@r:calc(@listCornerBadgeSize*-1-1px);@t:calc(@listCornerBadgeSize*-1-1px));
            .flex(@align:center;@justify:flex-start);
            .bg-red;
            color:#fff;
            .transform(rotateZ(-45deg));
            padding:4px;
            box-shadow: 2px 0 5px rgba(0,0,0,0.1) inset;
            &>*{
                .transform(rotateZ(45deg));
            }
        }
    }
/*
@listSmallCornerBadgeSize:22px;

.list-bottom-right-corner-badge{
    .pointerEvents(none);
    .overflow();
    .abs(@w:@listSmallCornerBadgeSize*2;@h:@listSmallCornerBadgeSize*2;@r:auto;@b:auto);
    .flex(@align:flex-start;@justify:flex-end);
    .badge{
        font-size: 11px;
        .abs(@w:@listSmallCornerBadgeSize*2;@h:@listSmallCornerBadgeSize*2;@r:auto;@b:auto;@l:calc(@listSmallCornerBadgeSize*-1-1px);@t:calc(@listSmallCornerBadgeSize*-1-1px));
        .flex(@align:flex-end;@justify:center);
        .bg-eBlue;
        color:#fff;
        padding:3px;
        .transform(rotateZ(-45deg));
        box-shadow: 1px 0 3px rgba(0,0,0,0.1) inset;
        &>*{
            .transform(rotateZ(45deg));
        }
    }
}
*/




///////////////////////////////////////////////////
// Flags
//


ui-list-flags,.ui-list-flags-header{
    @media @desktop{
        width:50px;
        min-width:50px;
        max-width:50px;
    }
    .text-center;
    justify-content:center;
}

ui-list-flags{
    .w100;
    padding:2px;
    .flex(column;@align:left;@justify:center);
    &>*{
        .flex(column;@align:left;@justify:center);
        color:@lgray;
    }
    .flag-text{
        text-align: left;
        .uppercase;
        .text-bold;
        font-size: 0.65em;
    }
    @media @tablet{
        .flex(row;@align:center;@justify:center);
        margin-top: 5px;
        padding-top:5px;
        min-height: 30px;
        .flag-text{
            text-align: left;
            font-style: 0.8em;
        }
        &>*{
            margin:0 10px;
        }
    }
}

.ui-list-header{
    margin-bottom: 20px;
}

.ui-list-title{
    .flex(@align:center;@justify:flex-start);
    font-size: 1.5em;
    margin: 5px 0;
    i{
        font-size: 0.5em;
        margin-left: 5px;
        margin-right: 10px;
    }
    i.ic.ic-fireball{
        font-size: 0.8em;
    }
}

.ui-list-detail{
    .flex(row;@align:center;@justify:flex-start);
    label{
        .flex-grow(0);
        min-width:140px;
    }
}


ui-header[theme=ui-list-item-header], [ui-header][theme=ui-list-item-header]{
    width:auto;
    color:@mgray;
    height: 40px;
    .uppercase;
    font-size: 1em;
    .bg(#fff);
    //box-shadow: 0 4px 2px -2px rgba(0,0,0,0.025) inset;
    ui-header-body{
        padding:5px;
    }
    ui-header-controls{
        [ui-button]{
            min-width: 40px;
            margin:0 !important;
            font-size: 1em;
            .text-nowrap;
            .labelStyle();
        }
        i{
            color:@accent;
            font-size: 12px;
        }
        [ui-button].active i{
            color:@dgray;
        }
        [ui-button]:hover i,[ui-button]:hover span{
            color:@accent;
        }
        [ui-button]:hover:after{
            .hide !important;
        }
    }
}

.ui-list-padded{
    padding:10px 15px;
}

























