<div ui-list>
	<ul ui-list-header>
		<li class="icon"></li>
		<li style="width:15%">
			<span>Name</span>
			<div ui-list-sort-btn>
				<i class="fa fa-sort"></i>
			</div>
		</li>
		<li>	
			<span>Cost</span>
			<div ui-list-sort-btn>
				<i class="fa fa-sort"></i>
			</div>
		</li>
		<li>	
			<span>Duration</span>
			<div ui-list-sort-btn>
				<i class="fa fa-sort"></i>
			</div>
		</li>
		<li>		
			<span>Carrier</span>
			<div ui-list-sort-btn>
				<i class="fa fa-sort"></i>
			</div>
		</li>
		<li class="text-center" style="width:110px">
			<span>Select</span>
		</li>
	</ul>
	<ul ui-list-body>
		<li ng-repeat="opt in options" ul-list-item>
			<div class="icon">
				<i class="fa fa-{{opt.iconClass}}"></i>
			</div>
			<div style="width:15%">
				<span>{{opt.name}}</span>
			</div>
			<div>
				<span>{{opt.cost}}</span>
			</div>
			<div  >
				<span>{{opt.duration}}</span>
			</div>
			<div>
				<span>{{opt.carrier}}</span>
			</div>
			<div class="form text-center" style="width:110px">
				<div>Select</div>
			</div>
		</li>
	</ul>
</div>
