.ui-scroll-table{
	.rel;
	.w100;
	.overflow();
	.flex-grow(1);
	.flex(column;@align:flex-start;@justify:flex-start);
	.ui-scroll-table-header{
		.flex(row;@align:stretch;@justify:flex-start);
		.w100;
		.flex-shrink(0);
		.ui-scroll-table-corner{
			width:100px;
			height: 30px;
			.flex-grow(0);
			.flex-shrink(0);
			.flex(@align:center);
		}
		.ui-scroll-table-top-header{
			height: 30px;
			.flex-grow(1);
			.overflow();
			top-header{
				height: 100%;
				.flex(@align:stretch;@justify:flex-start);
			}	
		}
	}
	.ui-scroll-table-body{
		width:100%;
		.flex-grow(1);
		.flex(row;@align:stretch;@justify:flex-start);
		.ui-scroll-table-left-header{
			.flex();
			.flex-shrink(0);
			.flex-grow(1);
			width:100px;
			.overflow();
			left-header{
				.w100;
				.flex(column;@align:stretch;@justify:flex-start);
			}
		}

		.ui-scroll-table-content{
			overflow: auto;
			.flex(@align:flex-start;@justify:flex-start);
			.flex-shrink(1);
			.flex-grow(1);
			content{
				.flex(column;@align:stretch;@justify:flex-start);
				.flex-shrink(0);
				.flex-grow(1);
				align-self:stretch;
			}
		}
	}
}