///////////////////////////////////////////////////
// Styling
//

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number]{
	& ~ span{
		.flex(@align:center);
		.abs(@l:auto;@t:auto;@w:24px;@h:44px);
		&:after{
			.abs();
			box-sizing: border-box;
			padding-bottom: 15px;
			.flex(@align:flex-end;@justify:center);
			color:@accent;
			content: '123';
			font-weight: bold;
			font-size: 10px;
			letter-spacing: -1px;
		}
	}
}
input::-webkit-clear-button {
	-webkit-appearance: none;
	display: none;
}

.inputDisabledStyle(){
	border-bottom:1px solid #fff;
	color:#333;
	-webkit-text-fill-color:#333;
	.opacity(1);
}
.inputStyle(){
	border:none;
	border-bottom:1px solid #ccc;
	min-height:44px;
	color:#000;
	.text-trim;
	&:focus{
		.inputFocus();
		& ~ label{
			.labelFocus();
		}
	}
	&[disabled=disabled]{
		.inputDisabledStyle();
	}
}

.inputFocus(){
	box-shadow: 0 -2px 0 -1px @accent inset;
	border-bottom:1px solid @accent !important;
}

.labelFocus(){
	color: @accent;
}

.focusShadow(){
	box-shadow: 0 5px 30px -7px rgba(0,0,0,.75);
}

.placeholder(){
	&::-webkit-input-placeholder {
		color: @mlgray;
	}
	&:-ms-input-placeholder {
		color: @lgray;
	}
}


///////////////////////////////////////////////////
// Element
//

ui-field,[ui-field]{
	.flex(column-reverse;@align:stretch;@justify:flex-end);
	.flex-shrink(0);
	.rel;
	label{
		.flex-shrink(0);
		padding:0 5px;
		.labelStyle();
		margin-bottom: 0 !important;
	}

	&[required] label{
		&:before{
			width:10px;
			content:'\f069';
			.icon-font;
			color:@red;
			font-size: 0.75em;
			margin-right: 5px;
			padding-bottom: 2px;
		}
	}
}

///////////////////////////////////////////////////
// Text
//

ui-field,[ui-field]{
	.uiFieldText{
		margin:0;
		.inputStyle();
		.flex-shrink(0);
		-webkit-appearance:none;
		border-radius: 0;
		outline:none;
		.bg(transparent);
		font-size: 1em;
		padding:5px 5px;
		.placeholder();
		&[disabled=disabled]{
			box-shadow: none !important;
		}
	}
	&.no-label{
		label{
			.hide;
		}
	}
	input[disabled], input[disabled]+span{
		background-color: transparent;
	}
}



///////////////////////////////////////////////////
// Time
//

ui-field[type=time],[ui-field][type=time]{
	.selectize-dropdown{
		left:50% !important;
		margin-left:-119px !important;
		width: 238px !important;	
	}
	& > span{
		.flex(@align:center);
		.abs(@l:auto;@t:auto;@w:24px;@h:44px);
		&:after{
			.abs();
			box-sizing: border-box;
			padding-bottom: 15px;
			.flex(@align:flex-end;@justify:center);
			color:@accent;
			content: '\f017';
			.icon-font;
		}
	}
	.selectize-control.single{
		.selectize-input:after{
			content:'' !important;
		}
	} 
}


///////////////////////////////////////////////////
// Date
//

ui-field,[ui-field]{
	ui-field-date,[ui-field-date]{
		.flex(column-reverse;@align:stretch;@justify:flex-end);
		.rel;
		input{
			margin:0;
			.inputStyle();
			.flex-shrink(0);
			-webkit-appearance:none;
			border-radius: 0;
			outline:none;
			.bg(transparent);
			font-size: 1em;
			padding:5px 5px;
			.placeholder();
			&[disabled=disabled]{
				& ~ span:after{
					color:@lgray;
				}
			}
		}
		input ~ span{
			.flex(@align:center);
			.abs(@l:auto;@t:auto;@w:24px;@h:44px);
			&:after{
				.abs();
				box-sizing: border-box;
				padding-bottom: 15px;
				.flex(@align:flex-end;@justify:center);
				color:@accent;
				content: '\f073';
				font-size: 0.95em;
				.icon-font;
			}
		}
		[ui-date-picker-selector]{
			z-index: 1001;
			.bg(#fff);
			.abs(@t:auto;@b:70%;@h:auto;@l:50%;@r:auto);
			width: 238px;
			margin-left: -119px;
			.focusShadow();
			clip-path: inset(0px -50px -50px -50px);
			.rounded();
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			&:not(.ng-hide) ~ input{
				.inputFocus() !important;
			}
			.monthHeader{
				box-shadow: 0 10px 10px -10px rgba(0,0,0,0.15) inset;
				height:44px;
				.flex(@align:stretch;@justify:space-between);
				& > .text{
					margin:0;
					.flex(row;@align:center);
					color:@mdgray;
					.flex(column;@align:center);
					.title{
						margin:0;
						margin-top:3px;
					}
					.subtitle{
						font-size: 0.8em;
					}
				}
				[ui-button]{
					color:@mgray;
					.rounded(0);
					width:44px;
					font-size: 14px;
				}
			}
			.weekHeader{
				.flex(row;@align:stretch);
				.bg(#f6f6f6);
				& > div{
					color:#888;
					flex-basis:0;
					.flex-grow(1);
					.flex(@align:center);
					font-size: 0.65em;
					text-transform: uppercase;
					height:22px;
				}	
			}
			.week{
				.flex(row;@align:stretch);
				width:100%;
				.day{
					.rel;
					.flex(row;@align:center);
					flex-basis:0;
					.flex-shrink(0);
					.flex-grow(1);
					width:34px;
					height:34px;
					color:#555;
					padding-bottom: 2px;
					font-size: 0.9em;
					&:before{
						.block;
						content:'';
						.abs(@w:auto;@h:auto);
						box-sizing: border-box;
						margin:3px;
						.rounded(22px);
						z-index: -1;
					}
					&.active{
						.text-bold;
						color:#fff;
						&:before{
							.bg(@accent);
						}
						&:after{
							.bg(#fff) !important;
						}
					}
					&.enabled{
						.cursor(pointer);
					}
					&.enabled:not(.active):hover:before{
						.bg(rgba(0,0,0,0.05));
					}
					&.today:after{
						.block;
						content:'';
						font-size:8px;
						.flex(@align:center);
						.abs(@t:auto;@h:2px;@w:14px;@l:50%;@b:9px);
						margin-left: -7px;
						.rounded();
						box-sizing: border-box;
						.bg(@accent);
					}
				}
			}
		}
	}
}
///////////////////////////////////////////////////
// Checkbox
//

@uiFieldCheckboxHeight:26px;
@uiFieldCheckboxWidth:52px;
@uiFieldCheckboxToggleSize:22px;
@uiFieldCheckboxToggleMargin:(@uiFieldCheckboxHeight - @uiFieldCheckboxToggleSize) / 2;

ui-field,[ui-field]{
	.uiFieldCheckbox{
		.rel;
		margin:0;
		.flex-shrink(0);
		border:none;
		-webkit-appearance:none;
		border-radius: 0;
		outline:none;
		font-size: 1em;

		ui-field-checkbox-controls,[ui-field-checkbox-controls]{
			.flex(row;@align:center;@justify:flex-start);
			.inputStyle();
		}

		ui-field-checkbox-title,[ui-field-checkbox-title]{
			.flex-grow(1);
			font-size: 1em;
			padding:5px 5px;
			margin:0 !important;
			display: block;
		}

		ui-field-checkbox-toggle,[ui-field-checkbox-toggle]{
			pointer-events: none;
			.flex-shrink(0);
			.rel;
			display: block;
			width:@uiFieldCheckboxWidth;
			height:@uiFieldCheckboxHeight;
			border-radius: @uiFieldCheckboxHeight/2;
			.bg(rgba(0,0,0,0.15));
			.transition();
			&:after{
				display: block;
				box-sizing: border-box;
				content:'';
				.abs(@l:@uiFieldCheckboxToggleMargin; @b:auto; @t:@uiFieldCheckboxToggleMargin;@w:@uiFieldCheckboxToggleSize;@h:@uiFieldCheckboxToggleSize;@r:auto);
				border-radius: 100%;
				.bg(#fff);
				box-shadow:0 2px 3px rgba(0,0,0,0.15);
				.transform(translateX(0));
				.transition();
			}
		}

		input{
			.bg(transparent);
			-webkit-appearance:none;
			.opacity(0);
			.abs();
			&:hover:not([disabled=disabled]){
				.cursor(pointer);
			}
			&:checked{
				& ~ ui-field-checkbox-controls,& ~ [ui-field-checkbox-controls]{
					ui-field-checkbox-toggle,[ui-field-checkbox-toggle]{
						.bg(@accent);
						&:after{
							.transform(translateX(@uiFieldCheckboxWidth - @uiFieldCheckboxToggleSize - @uiFieldCheckboxToggleMargin*2));
						}
					}
				}
			}
			&:focus{
				& ~ ui-field-checkbox-controls,& ~ [ui-field-checkbox-controls]{
					//.inputFocus();
				}	
			}
			&[disabled=disabled]{
				& ~ ui-field-checkbox-controls,& ~ [ui-field-checkbox-controls]{
					& > *{
						.opacity(0.5);
					}
				}
			}
		}
		&.no-label{
			label{
				.hide;
			}
			ui-field-checkbox-title,[ui-field-checkbox-title]{
				.labelStyle();
			}
			ui-field-checkbox-controls,[ui-field-checkbox-controls]{
				border-bottom:none;
			}
		}
		&.checkbox{
			&.left{
				direction: rtl;
				ui-field-checkbox-title,[ui-field-checkbox-title]{
					direction:ltr;
				}
			}
			ui-field-checkbox-toggle,[ui-field-checkbox-toggle]{
				pointer-events: none;
				width:16px;
				height:16px;
				margin:0 3px 0 3px;
				.transition();
				.bg(transparent);
				&:after{
					//border:1px solid rgba(0,0,0,0.15);
					.rounded();
					.abs();
					.bg(rgba(0,0,0,0.05));
					.bg(rgba(255,255,255,0.25));
					border:1px solid rgba(0,0,0,0.15);
					box-shadow:none;
					.icon-font;
					content:'\f00c';
					font-size: 0.8em;
					color:transparent;
					.flex(@align:center);
				}
			}
			input{
				&:checked{
					& ~ ui-field-checkbox-controls,& ~ [ui-field-checkbox-controls]{
						ui-field-checkbox-toggle,[ui-field-checkbox-toggle]{
							&:after{
								color:#fff;
								border:1px solid @accent;
								.bg(@accent);
								.transform(none);
							}
						}
					}
				}
			}
		}
	}
}


///////////////////////////////////////////////////
// Select
//

ui-field,[ui-field]{
	&.address-lookup{
		.selectize-input{
			border-bottom-color:transparent !important;
		}
		.selectize-input:after{
			color:@accent;
			content:'\f002' !important;
		}
		.ui-select-match, .selectize-input input{
			color:@dgray !important;
			padding:0 5px;
			margin:0;
		}
	}
}

ui-field,[ui-field]{
	.direction-up .ui-select-dropdown{
		.focusShadow()!important;
		.rounded()!important;
		clip-path: none !important;
	}
	.uiFieldSelect{
		.flex-shrink(0);
		.transition(@speed:@aniFast);
		.selectize-input{
			box-shadow: none;
			.flex(row;@align:flex-start;@justify:flex-start;@wrap:wrap);
			font-size: 1em;
			.bg(transparent);
			padding:10px 0 5px 0 !important;
			margin:0 !important;
			width:100% !important;
			border:none;
			outline: none;
			border-radius: 0;
			min-height: 44px;
			input{
				-webkit-appearance:none;
				margin:0;
				padding-left: 5px !important;
				padding-right: 30px !important;
				height:26px;
				font-size: 1em;
				.placeholder();

			}
			&.disabled{
				.bg(transparent);
				.opacity(1) !important;
				.inputDisabledStyle();
				&:after{
					display: none !important;
				}
				input{
					.hide !important;
				}
				.ui-select-match{
					color:#333 !important;
					padding:0 5px !important;
				}
			}
			.ui-select-match{
				font-size: 0.9em;
				.flex-shrink(0);
				.rounded();
				height: 24px;
				.flex(@align:center);
				padding:0 8px;
				margin:2px 2px;
			}
			.inputStyle();
			&.selectize-focus{
				.inputFocus();		
			}
		}

		&.selectize-control{
			.selectize-input:after{
				.flex(@align:center);
				.icon-font;
				border:none;
				.text-center;
				margin:0;
				padding:0;
				.abs(@t:auto;@l:auto;@w:22px;@h:44px);
				color:@mdgray;
			}
			.remove{
				padding-top:3px !important;
			}
		} 

		&.selectize-control.single{
			.selectize-input:after{
				color:@accent;
				content:'\f0d7';
			}
			.ui-select-match{
				font-size: 1em;
				padding:0 5px;
				margin:0;
			}
		} 
		&.selectize-control.multi .selectize-input {
			&.disabled{
				.ui-select-match{
					.bg(rgba(0,0,0,0.2)) !important;
				}
			}
		}

		.selectize-dropdown{
			.rounded();
			clip-path: inset(0px -50px -50px -50px);
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			.focusShadow();
			left: 3px;
			width: ~"calc(100% - 6px)";
			min-width: 200px;
			margin-top: 0px;
			max-height: 200px;
			color:#333;
			font-size: 0.9em;
			border:none !important;
			[data-selectable]{
				padding:8px;
			}
			.ui-select-choices-row:nth-child(2){
				box-shadow: 0 10px 10px -10px rgba(0,0,0,0.15) inset;
			}
			.ui-select-choices-row.active{
				color:#fff;
				.bg(@accent);
			}

			.ui-select-choices-row:not(.active):hover{
				color:#333;
				.bg(rgba(0,0,0,0.05));
			}
		}

		.ui-select-no-choice{
			.hide;
			font-size: 1em !important;
			color:#999 !important;
			&.show{
				.show();
			}
		}
		&.open {
			.selectize-input{
				.inputFocus();
			}
			& + label{
				.labelFocus();
			}
		}
	}
}

.field-soft-flex{
	.flex(@align:stretch;@justify:flex-start);
	ui-field{
		.flex-grow(1);
	}
}







