ui-modal,[ui-modal]{
	.fix();
	.overflow();
	.flex(@align:center);
	z-index: 1001;
	ui-modal-bg,[ui-modal-bg]{
		.abs();
		@media @desktop{
		.bg(rgba(0,0,0,0.75));
		.transition(@speed:@aniFast);
		}
	}
	ui-modal-content,[ui-modal-content]{
		.abs();
		.flex(@align:center);
		& > *{
			.flex(column;@align:center;@justify:flex-start);
			.bg(#fff);
			box-shadow: 0 0 40px -10px rgba(0,0,0,1);
			width:100%;
			max-height: 90%;
			.rounded();
			&.modal-small{
				overflow-y: auto;
				width:600px;
				@media @tablet{
					width:100%;
					min-width: 0;
					margin:0px;
					min-height: 100%;
				}
			}
			&.modal-large{
				overflow-y: auto;
				min-width:600px;
				max-width:1600px;
				width:80%;
				@media @tablet{
					width:100%;
					min-width: 0;
					margin:0px;
					min-height: 100%;
				}
			}
			&.modal-full{
				overflow-y: auto;
				min-width:600px;
				max-width:@maxWidth - 100px;
				width:100%;
				height:100%;
				margin:50px;
				@media @tablet{
					min-width: 0;
					margin:0px;
					min-height: 100%;
				}
			}
			.modal-body{
				align-self:stretch;
				& > .cols{
					min-height:100%;
					.flex-grow(1)!important;
				}
				width:100%;
				max-height:100%;
				min-height: 44px;
				padding-bottom:10px;
				.flex-grow(1);
				.flex(column;@align:stretch;@justify:flex-start);
				.lightScrollbar();
				&.form{
					padding:5px;
				}
			}
		}

		&.ng-enter{
			.animation(@speed:@aniFast;@name:modal-show);
		}
		&.ng-leave{
			.animation(@speed:@aniFast;@name:modal-hide);
		}
	}
	.transition(@speed:@aniFast);
	&.ng-hide {
		.opacity(0);
	}
}

ui-header[theme=ui-modal-header], [ui-header][theme=ui-modal-header]{
	background-color: @accent;
	width:100%;
	color:#fff;
	height: 50px;
	ui-header-body, [ui-header-body]{
		font-size: 1.29em;
	}
	ui-header-controls{
		span, [ui-button]{
			min-width: 44px;
			color:#fff;
			.text-nowrap;
			.flex-shrink(0);
		}
		i{
			color:#fff;
			font-size: 14px;
		}
	}
	&+.subform{
		box-shadow: 0 -1px 0px  rgba(0,0,0,0.05) inset;
	}
}

ui-header[theme=ui-modal-footer], [ui-header][theme=ui-modal-footer]{
	border-top:1px solid rgba(0,0,0,0.1);
	height:50px;
	padding:10px;
	ui-header-body, [ui-header-body]{
		padding:0;
		[ui-button]{
			color:@dgray;
		}
	}
	ui-header-controls, [ui-header-controls]{
		ui-button,[ui-button]{	
			.rounded() !important;
			margin-left:10px;
			min-width:90px;
			padding:0 10px !important;
		}
	}
}