.of-hu-subform{
	.ui-subform-bottom-divider{
		.zzBottom(#f9f9f9);
	}
}

.hazmat-indicator{
	width:24px;
	height:24px;
	.flex(@align:center;@justify:center);
	.rounded(100%);
	.flex-shrink(0);
	padding:0;
	&.active{
		width:30px;
		height:30px;
		.bg(@yellow);
		border:2px solid @dgray;
		i{
			font-size: 1.35em;
		}
	}
}

.order-complete{
	.bg(#fff);
	padding:10px;
	.flex(column;@justify:center);
	width:100%;
	.header{
		font-size: @headingFont;
		.flex(@align:center);
		color:@mdgray;
		margin-bottom: 20px;
	}
	.message{
		.flex(column;@align:center;);
		padding:10px 100px 20px 100px;
		box-shadow: 0 0 30px -5px rgba(0,0,0,0.25);
		.text-center;
		margin-top: 20px;
		margin-bottom: 40px;
		.title{
			font-size: @headingFont;
			.flex(@align:center);
			color:@accent;
			margin-bottom: 10px;
		}
		.subtitle{
			color:@mgray;
		}
	}
	.shipping-label{
		.flex(column;@align:center;@justify:flex-start);
		.flex-grow(1);
		width:100%;
		margin-top:40px;
		padding:20px;
		padding-bottom:0;
		.rounded;
		border:@tableBorder;
		.bg(@xxxlgray);
		.text-center;
		&:after {
			content: "";
			height: 20px;
			display: block;
			.flex-shrink(0);
		}
		.sample-document{
			width:850px;
			height:1000px;
			.flex-shrink(0);
			box-shadow: 0 0 40px -10px rgba(0,0,0,0.25);
			.rounded;
			.bg(#fff);
			color:@xlgray;
			font-size: 2em;
			padding:20px;
			.text-center;
		}
	}
	ul{
		.flex-shrink(0);
		.rounded;
		li{
			&:not(:last-child){
			}
			.flex(@align:center;@justify:flex-start);
			padding:0 20px;
			color:@lgray;
			.icon{
				.flex(@align:center);
				width:34px;
				height:44px;
				.rounded(100%);
				margin: 0 10px 0 0;
				font-size: 24px;
			}
			.text{
				font-size: @titleFont;
			}
			&.active{
				color:@accent;
			}
			&.complete{
				color:@dgray;
			}
		}
	}
}

.scenario{
	.flex(column;@align:flex-end);
	.abs(@b:auto;@h:auto;@w:auto;@l:auto;@r:20px;@t:20px);
	&:hover {
		.cursor(pointer);
		.icon{
			color:@accent;
		}
		ul{
			display: block;
		}
	}
	.icon{
		color:@lgray;
		.flex(@align:center);
		width:34px;
		height:34px;
	}
	ul{
		display: none;
		.bg(@xxxlgray);
		box-shadow: 0 0 30px -5px rgba(0,0,0,0.25);
		li{
			color:@dgray;
			padding:0 10px;
			height:34px;
			.flex(@align:center;@justify:flex-start);
			&:hover{
				.bg(rgba(0,0,0,0.05));
			}
			&:active{
				.bg(rgba(0,0,0,0.1));
			}
		}
	}
}

.home-location {
	&:after{
		.overflow;
		.abs(@l:50%;@b:auto;@w:100px;@h:18px;@t:44px;@r:auto);
		margin-left:-50px;
		.flex(@align:center);
		.rounded(9px);
		color:#fff;
		padding:0;
		.bg(@eBlue);
		font-size: 0.6em;
		font-weight: bold;
		content:'DEFAULT ADDRESS';
	}
}

.delivery-sidebar-details{
	.flex(@wrap:wrap);
	& > li{
		list-style: none;
		width:50%;
		padding:5px;
		div{
			.flex(column);
			span{
				width:100%;
				text-align: center;
			}
			span.header{
				color:rgba(0,0,0,0.5);
				font-size: 0.75em;
				font-weight: 500;
				.uppercase();
				padding:2px;
			}
			span.detail{
				color:@mdgray;
				font-size: 1em;
				padding:3px;
			}
		}
	}
}

abs-background{
	.abs();
	z-index: -1;
	.opacity(0.2);
}

.of-do-menu-group{
	//margin:5px;
	//border:1px solid rgba(0,0,0,0.1);
	//.rounded();
	width:auto;
	.flex-shrink(0);
	.overflow();
	.bg(rgba(255,255,255,0.5));
/*	ui-header{
		ui-header-body{
			.flex(@align:center);
		}
	}*/
	.opacity(0.85);
	&.active{
		//box-shadow: 0 2px 2px rgba(0,0,0,0.05);
		.opacity(1);
		abs-background{
			.opacity(0.3);
		}
		.bg(#fff);
		&:after{
			.hide !important;
		}
	}
}

.of-do-menu-group+.of-do-menu-group{
	margin-top:0px;
}















