<!-- <ui-sidebar>
	<ui-sidebar-panel>
		<div class="rows form">
			<ui-menu-content>
				<ui-menu-group>
					<ui-header theme="ui-menu-header" >
						<ui-header-body>
							<span>Shipment Type</span>
						</ui-header-body>
					</ui-header>
					<ui-menu-content ui-max-height>
						<ui-menu-item ui-sref="home.shipment.create.default" ui-sref-active="active">
							<span>Standard</span>
						</ui-menu-item>
						<ui-menu-item ui-sref="home.shipment.create.desktop" ui-sref-active="active">
							<span>Desktop</span>
						</ui-menu-item>
						<ui-menu-item ui-sref="home.shipment.create.manual" ui-sref-active="active">
							<span>Manual</span>
						</ui-menu-item>
						<ui-menu-item ui-sref="home.shipment.create.misc" ui-sref-active="active">
							<span>Miscellaneous</span>
						</ui-menu-item>
					</ui-menu-content>
				</ui-menu-group>
			</ui-menu-content>
		</div>
	</ui-sidebar-panel>
	<ui-sidebar-content> -->
		<ui-view></ui-view>
	<!-- </ui-sidebar-content>
</ui-sidebar> -->