/*.paddedWidth(){
	width:100%;
	@media @extended{
		width:@paddedWidth;
	}
}*/

.home-bg{
	.fix();
	.bg-image();
	z-index: -1;
	&:before{
		display: block;
		content: '';
		width:100%;
		height:100%;
		.bg(rgba(250,250,250,0.75));
	}
}


.home-content{
	.flex(column;@align:stretch);
	@media @tablet{
		& > [ui-view]{
			.transition(@speed:@aniFast);
		}
		&.show-menu{
			nav .menu{
				.transform(translate3d(-100%,0,0));
			}
			& > .nav-content{
				.transform(translate3d(-324px,0,0));	
			}
			.nav-content-overlay{
				.show;
				.transform(translate3d(-324px,0,0));	
			}
			& > [ui-view]{
				.transform(translate3d(-324px,0,0));		
			}
		}
	}
	.nav-content-overlay{
		.hide;
		//.bg(rgba(255,0,0,0.3));
		@media @tablet{
			.abs(@t:50px;@h:auto);	
		}
		@media @mobile{
			.abs(@t:50px;@h:auto);
		}
	}
}

.home-header{
	width:100%;
	height:@navBarHeight;
	ui-header[theme=home-header], ui-header[theme=home-header-mobile]{
		position: fixed;
		top:0;
		left:0;
		right:0;
		height:@navBarHeight;
		.bg(#fff);
		z-index: 1001;
		border-bottom: none;
		color:@dgray;
		height: @navBarHeight;
		overflow:visible;
		ui-header-body{
			padding:0;
		}
		img.branding{
			.block;
			margin:0 5px;
			height:@navBarHeight;
			&.branding-ryder{
				margin:8px;
				height:32px;
			}
		}
		@media @desktop{
			box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		}
	}

	ui-header[theme=home-header-mobile]{
		z-index: 1000;
		ui-header-body{
			position: fixed;
			top:0;
			right:0;
			height:@navBarHeight;
			left:0;
			z-index: 999;
			padding:0;
			box-shadow: 0 1px 1px rgba(0,0,0,0.1);
			.bg(#fff);
			.flex(row;@align:stretch;@justify:space-between);
		}
		.ui-sidebar-btn{
			.transition();
			height: 50px;
			span:after{
				.bg(@dgray);
			}
		}
		.ui-header-mobile-btn{
			.ui-button();
			width:64px;
			.flex-shrink(0);
			.flex(@align:center);
			.rel;
			&.active{
				color:@accent;
			}
			&.main-menu-btn {
				span{
					display: block;
					position: absolute;
					height: 2.5px;
					left:23px;
					top:24px;
					width: 18px;
					.bg(@dgray);
					border-radius: 1px;
					.transition(@speed:@aniFast);
					.opacity(1);
					&:nth-child(1){
						.transform(translateY(-6px));
					}
					&:nth-child(3){
						.transform(translateY(6px));
					}
					&:nth-child(4){
					}
				}
				&.active{
					span{
						&:nth-child(1){
							.transform(translateY(0));
							.opacity(0);
						}
						&:nth-child(3){
							.transform(translateY(0));
							.opacity(0);
						}
						&:nth-child(2){
							.transform(rotateZ(-45deg));
						}
						&:nth-child(4){
							.transform(rotateZ(45deg));
						}
					}
				}
			}
		}
		&.show-menu{
			ui-header-controls{
				.transform(translateY(0));
			}
			.ui-sidebar-btn{
				.opacity(0);
				.transform(translateX(-100%));
			}
		}
		ui-header-controls{
			z-index: 998;
			.transition();
			position: fixed;
			top:@navBarHeight;
			right:0;
			bottom:0;
			left:0;
			.transform(translateY(-110%));
			.bg(#fff);
			.flex(column;@justify:flex-start);
			nav.main-nav{
				width:100%;
				.flex-grow(1);
				.flex(column;@justify:flex-start);
				overflow-y:scroll;
				-webkit-overflow-scrolling:touch;
				& > ui-menu-group{
					.flex(column;@align:center;@justify:flex-start);
					width:100%;
					.flex-shrink(0);
					a{
						.flex-shrink(0);
						.flex(@align:center;@justify:flex-start);
						height: 50px;
						padding-left: 15px;
						width:100%;
						font-size: 1.1em !important;
						&.active{
							box-shadow: 2px 0 0 @accent inset;
						}
					}
					.main-nav-submenu{
						position: static;
						visibility: visible;
						.opacity(1) !important;
						background-color: rgba(0,0,0,0.02);
						box-shadow: 0 2px 2px -2px rgba(0,0,0,0.15) inset, 0 -2px 2px -2px rgba(0,0,0,0.15) inset;
						.transition(@speed:@aniFast) !important;
						a.active{
							box-shadow: none;
						}
					}
					&[collapsed]{
						.main-nav-submenu:not([ui-max-height=""]){
							max-height: 0 !important;
						}
					}
				}
			}
			nav.main-nav.bg-accent{
				.flex-shrink(0);
				.bg(transparent);
				.flex-grow(0);
				border-top:1px solid rgba(0,0,0,0.05);
				.flex(row;@align:stretch);
				height: 50px;
				& > *{
					.flex-grow(1);
					font-size: 1.28em;
					i{
						color:@mgray;
					}
				}
			}
		}
	}

	nav.main-nav{
		.flex(@align:stretch);
		& > div{
			position: relative;
			.ui-button();
			padding:0;
			.main-nav-submenu{
				visibility: hidden;
				.opacity(0);
				.transition(@speed:@aniVeryFast);
			}
			&:hover{
				.main-nav-submenu{
					visibility: visible;
					.opacity(1);
				}
			}
			& > a:after{
				.hide() !important;
			}
		}
		a{
			color:@dgray;
			width:100%;
			height:100%;
			height: 50px;
			min-width: 44px;
			.ui-button();
			text-decoration: none;
			.flex(@align:center;@justify:center);
			&.active{
				box-shadow: 0 -2px 0 @accent inset;
			}
		}
		.main-nav-submenu{
			.bg(#fff);
			box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 3px 3px -3px rgba(0,0,0,0.25) inset;
			clip-path: polygon(-200% 0%, 200% 0%, 200% 200%, -200% 200%);		
			position: absolute;
			top:100%;
			right:0;
			min-width: 250px;
			.rounded();
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			.overflow();
			a{
				.flex(@align:center;@justify:flex-start);
				height: 40px;
				&.active{
					.bg(@accent);
					color:#fff;
					box-shadow: none;
				}
			}
		}
		&.bg-accent{
			i{
				color:#fff;
			}
		}
	}
}


@media @mobile{
	.sample-document img{
		width: 100%;
	}
}
