<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />
	<meta property="og:description" content="" />

	<link rel="apple-touch-icon" href="img/launch-icon.png">
    <link rel="icon" href="img/launch-icon.png">

	<!-- <base href="/"> -->

	<!-- vendor:css -->
	<!-- endinject -->

	<!-- vendor:js -->
	<!-- endinject -->

	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="vendor/fontastic/fonts.css" />

	<title>Ryder Online</title>

</head>
<body ng-controller="mainCtrl" ng-cloak>
	<div ui-view class="root-view"></div>

	<div class="loader-container" ng-show="uiLoaderSvc.showLoader">
		<div class="loader"></div>
	</div>

	<div ui-modal ng-show="!!uiModalSvc.showModalBg">
		<div ui-modal-bg></div>
		<div ui-modal-content ng-if="!!uiModalSvc.showModal"></div>
	</div>
	
</body>

<script src="js/templates.js"></script>
<script src="js/app.js"></script>  

</html>