.ui-time-picker, ui-time-picker{
	width: 100%;
	.selectize{
		margin:0;
		.selectize-input:after{
			content:'\f017' !important;
		}
	}
/*	.container{
		width:100%;
		height:40px;
		margin-top:28px;
		border-bottom:1px solid @lgray;
	}*/
}