///////////////////////////////////////////////////
// Element
//

ui-header{
	*{
		user-select:none;
	}
	barcode{
		padding-top:5px;
		img{
			height:20px;
			width:100%;
		}
	}
	.overflow();
	-webkit-font-smoothing: antialiased;
	height:44px;
	width:100%;
	.rel;
	.flex(row;@align:stretch;);
	.flex-shrink(0);
	.flex-grow(0);
	[ui-button]{
		.rounded(0) !important;
	}
	&[ui-button]{
		padding:0;
	}
	ui-header-body{
		.flex(row;@align:stretch;@justify:flex-start);
		.flex-grow(1);
		.overflow();
		.rows{
			width:100%;
			.text-nowrap;
			.flex(column;@align:flex-start;@justify:center);
			*{
				width:100%;
				.text-trim;
			}
		}
		& > *{
			.overflow();
			i{
				min-width: 22px;
				.text-center;
			}
		}
	}
	ui-header-controls{
		.flex-shrink(0);
		.flex(row;@align:stretch;@justify:flex-end);
		&.inset{
			.bg(rgba(0,0,0,0.05));
		}
		&.hover-only{
			.opacity(0);
		}
		&:only-child{
			.flex-grow(1);
		}
		.indicator{
			width: 20px;
			i{
				font-size: 1.2em;
			}
		}
		.text{
			padding:0 10px;
		}		
		.subtitle{
			align-self:center;
			.labelStyle();
			margin-right: 10px;
		}
		[ui-button]{
			align-self:stretch;
			padding:0 10px;
			&.branding{
				padding:0;
			}
		}
		[ui-button] .submenu{
			display: none;
		}
		[ui-button]:hover .submenu{
			display: block;
			z-index: 1000;
			.abs(@r:0;@l:auto;@t:100%;@h:auto;@w:auto;@b:auto);
			min-width: 250px;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			.bg(#fff);
			box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 5px 5px -5px rgba(0,0,0,0.2) inset, 0 10px 10px -10px rgba(0,0,0,0.1) inset;
			& > [ui-button]{
				.flex(@align:center;@justify:flex-start);
				min-height: 44px;
				.w100;
				&.branding{
					padding:0;
					.flex(@align:center;@justify:center);
				}
			}
		}
		ui-field:only-child{
			margin-right: 5px;
		}
	}

	&:hover{
		ui-header-controls.hover-only{
			.opacity(0.5);
			&:hover{
				.opacity(1);
			}
		}
	}

	ui-header-body{
		padding:0 10px;
		i+span,span+i{
			padding-left:8px;
		}
	}
	ui-header-body,ui-header-controls{
		& > *{
			.flex(row;@align:center;@justify:flex-start);
			i{
				.flex-shrink(0);
			}
		}
	}

}


[ui-header-actions-btn]{
	min-width: 0 !important;
	.flex-shrink(0);
	width:50px;
	max-width: 50px;
	padding:0 !important;
	.transition(@speed:@aniFast);
	.overflow();
	i{
		font-size: 18px !important;
	}
}

ui-header-controls[hide-actions]{
	max-width: 50px;
	.transition();
	.overflow();
	.flex(row;@justify:flex-start);
	&.show-actions{
		max-width: 100%;
		[ui-header-actions-btn]{
			.opacity(0);
			max-width: 0 !important;
			.pointerEvents();
		}
	}
}

