[ui-color-container]{

}

[ui-color]{
	background-color: @xxlgray;
	.transition(@speed:@aniNormal);
}

[ui-color-picker]{
	position: fixed;
	width:200px;
	height:200px;
	backface-visibility:hidden;
	position: fixed;
	.rounded();
	color:@dgray;
	.rounded(100%);
	z-index: 10001;
	.transition(@speed:@aniFast);
	//.bg(rgba(255,255,255,0.95));
	&.ng-hide{
		.opacity(0);
		//.transform(scale(0));
		.ui-color-picker-options{
			.transform(rotateZ(90deg));
		}
	}
	&.ng-hide-remove{
		.transition(@speed:@aniFast;@prop:opacity);
	}

	.ui-color-picker-options{
		.rel;
		box-shadow: 0 10px 50px rgba(0,0,0,0.1);
		.bg(rgba(255,255,255,0.95));
		.transition(@speed:@aniNormal);
		width:100%;
		height:100%;
		.rounded(100%);
		//-webkit-filter: drop-shadow(0 2px 5px rgba(0,0,0,0.25));
		//filter:drop-shadow(0 2px 5px rgba(0,0,0,0.25));
	}
	.ui-color-picker-option{
		position: absolute;
		top:50%;
		left:0;
		margin-top:-17px;
		width:100%;
		height:34px;
		.pointerEvents();
		span{
			z-index: 1;
			backface-visibility:hidden;
			box-sizing: border-box;
			//box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
			//border:2px solid #fff;
			pointer-events: all;
			.transition(@speed:@aniNormal);
			.rounded(40%);
			.transform(none);
			display: inline-block;
			margin:0 8px;
			width:34px;
			height:34px;
			&.ng-hide{
				.pointerEvents();
				.opacity(0);
				.transform(translateX(75px) scale(0));
			}
			&:hover:not(.ng-hide-remove):not(.ng-hide-add){
				.transform(scale(1.1));
				.cursor(pointer);
			}
		}
	}
	.field-color{
		position: absolute;
		top:50%;
		left:50%;
		margin-left: -17px;
		margin-top: -17px;
		z-index: 1;
		.transform(scale(1.1));
	}
}


.field-color{
	outline:none;
	.cursor(pointer);
	width:34px;
	border:none;
	height: 34px;
	.flex-shrink(0);
	margin:5px;
	.rounded(40%);
	.transition(@speed:@aniNormal);
	&:hover:not(.ng-hide-remove):not(.ng-hide-add):not([disabled=disabled]){
		.transform(scale(1.1));
		.cursor(pointer);
	}
}



