ui-file-import{
	.block;
	.flex(column;@align:center);
	margin:10px;
	padding:10px;
	color:@mgray;
	border:2px dashed @mgray;
	.text-center;
	.flex-grow(1);
	i{
		font-size: 25px !important;
		margin-bottom: 10px;
	}
}